<!-- jQuery 3 -->
<script src="../../bower_components/jquery/dist/jquery.min.js" defer></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js" defer></script>
<!-- Select2 -->
<script src="../../bower_components/select2/dist/js/select2.full.min.js" defer></script>
<!-- InputMask -->
<script src="../../plugins/input-mask/jquery.inputmask.js" defer ></script>
<script src="../../plugins/input-mask/jquery.inputmask.date.extensions.js" defer></script>
<script src="../../plugins/input-mask/jquery.inputmask.extensions.js" defer></script>
<!-- date-range-picker -->
<script src="../../bower_components/moment/min/moment.min.js" defer></script>
<script src="../../bower_components/bootstrap-daterangepicker/daterangepicker.js" defer></script>
<!-- bootstrap datepicker -->
<script src="../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" defer></script>
<!-- bootstrap color picker -->
<script src="../../bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" defer></script>
<!-- bootstrap time picker -->
<script src="../../plugins/timepicker/bootstrap-timepicker.min.js" defer></script>
<!-- DataTables -->
<script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js" defer></script>
<script src="../../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" defer></script>
<!-- SlimScroll -->
<script src="../../bower_components/jquery-slimscroll/jquery.slimscroll.min.js" defer></script>
<!-- iCheck 1.0.1 -->
<script src="../../plugins/iCheck/icheck.min.js" defer></script>
<!-- FastClick -->
<script src="../../bower_components/fastclick/lib/fastclick.js" defer></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js" defer></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js" defer></script>
<!-- Page script -->
<script src="/js/my_script.js" defer></script>
<script>
  $(function () {
    $('#managerQuiz').DataTable()
    $('#email_list').DataTable()
    $('#control').DataTable()
    $('#manager').DataTable()
    $('#statistic').DataTable()
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
    $('#show_list_code').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
    //Initialize Select2 Elements
    $('.select2').select2()

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    //Timepicker
    $('.timepicker').timepicker({
      showInputs: false
    })
  })
</script>
<script>
  $('.sidebar-toggle').click(function(){
    $('.comodo-secure').toggle();
  });
</script>
<!-- Hưng thêm, không xóa, chỉnh sửa -->
<!-- <script language="JavaScript" type="text/javascript">
TrustLogo("http://hsvbot.me/images/comodo_secure_seal_113x59_transp.png", "CL1", "none");
</script>
<a  href="https://www.positivessl.com/" id="comodoTL">Positive SSL</a> -->
