<!-- views/partials/footer.ejs -->
<footer class="main-footer">
	<div class="pull-right hidden-xs">
	  <b>Wabisabi Team</b>
	</div>
	<div class="powered-by">Copyright &copy; 2017 <strong><a href = "https://www.uit.edu.vn/">Trường ĐH Công nghệ Thông tin ĐHQG-HCM</a></strong></div>
</footer>