<form action="/login" method="post">
                    <div class="row form-info">
                        <div class="col-md-2">
                            <label class="label-info label-activity">
                                <span class="">Tên hoạt động</span>
                            </label>
                        </div>
                        <div class="col-md-7 col-md-offset-1">
                            <input class="form-input" type="text" name="this-activity" placeholder="" autocomplete="off">
                        </div>
                    </div>
                    <div class="row form-info">
                        <div class="col-md-2">
                            <label class="label-info label-time">
                                <span class="">Thời gian diễn ra</span>
                            </label>
                        </div>
                        <div class="col-md-7 col-md-offset-1">
                            <input class="form-input" type="date" name="time-takes-place" placeholder=""  autocomplete="off">
                        </div>
                    </div>
                    <div class="row form-info">
                        <div class="col-md-2">
                            <label class="label-info label-location">
                                <span class="">Địa điểm</span>
                            </label>
                        </div>
                        <div class="col-md-7 col-md-offset-1">
                            <input class="form-input" type="text" name="location" placeholder="" autocomplete="off">
                        </div>
                    </div>
                    <div class="row form-info">
                        <div class="col-md-2">
                            <label class="label-info label-content">
                                <span class="">Nội dung</span>
                            </label>
                        </div>
                        <div class="col-md-7 col-md-offset-1">
                            <input class="form-input" type="text" name="content-info" placeholder="" autocomplete="off">
                        </div>
                    </div>
                    <div class="row form-info">
                        <div class="col-md-2">
                            <label class="label-info label-details-info">
                                <span class="">Thông tin chi tiết</span>
                            </label>
                        </div>
                        <div class="col-md-7 col-md-offset-1">
                            <input class="form-input" type="text" name="details-info" placeholder="" autocomplete="off">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-4 text-center">
                            <input type="submit" name="send-info" class="login login-send-info" value="Gửi thông tin">
                        </div>
                    </div
                </form>