
<div class="login-form">
	<div class="logo text-center mb20"><img src="images/logo_ChatBot.png" alt=""></div>
	<div class="panel panel-default mb30">
		<form action="/login" method="post">
			<div class="panel-header text-center">Đăng Nhập</div>
			<div class="panel-body">

				<div class="mb20">
					<label class="title">TÊN ĐĂNG NHẬP</label>
					<input type="text" name="username" class="form-control input-lg" placeholder="Nhập tên đăng nhập..." required>
				</div>

				<div class="mb20">
					<label class="title">MẬT KHẨU</label>
					<input type="password" name="password" class="form-control input-lg" placeholder="Nhập mật khẩu..." required>
				</div>

				<label><input type="checkbox" class="mr5"> Duy trì đăng nhập</label>

				<div class="row mt30">
					<div class="col-xs-10 col-xs-offset-1">
						<input type="submit" name="login" class="btn btn-blue btn-block btn-lg" value="ĐĂNG NHẬP">
					</div>
				</div>
				<% if (mess != '') {%>
				<div class="mt20">
				    <div class="alert alert-success alert-dismissible error_login" hidden>
				      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				      <h5><i class="icon fa fa-check"></i> <%= mess %></h5>
				    </div>
				</div>
				<script defer>
			  	$(function() {
			  	 $(this).focus();
			  	 $(this).select();
			  	 $(".error_login").show().fadeOut(5000);
			  	});
			  </script>
				<% } %>
			</div>
			<div class="panel-footer">
				<hr class="mt20 mb10">
				<a href="/resetPassword" class="gray-color"><small>Quên mật khẩu</small></a><br>
				<a href="/" class="gray-color"><small>Quay về trang chủ</small></a>
			</div>
		</form>
	</div>
</div>
