<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <img src="/images/logo_ChatBot.png" style="width:40px" alt="wabisabi" id="wabisabi_logo">
      <span><strong>WABI</strong>SABI</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <% if (!logged) { %>
          <li><a href="/login">Đăng nhập</a></li>
          <% } else { %>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/images/uploads/<%= profile_pic %>" class="user-image" alt="User Image">
              <span class="hidden-xs"><%= user.username %></span>  <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="/images/uploads/<%= profile_pic %>" class="img-circle" alt="User Image">

                <p>
                  <%= user.username %>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/thong-tin" class="btn btn-default btn-flat">Chỉnh sửa hồ sơ</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">Đăng xuất</a>
                </div>
              </li>
            </ul>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <% if (logged) { %>
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/images/uploads/<%= profile_pic %>" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= user.username %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <% } %>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <% if (page == 'home') { %>

        <li class="active">
          <a href="/">
            <i class="fa fa-dashboard"></i>
            <span>Trang chủ</span>
            <span class="pull-right-container">
              <i class="fa fa-circle-o text-aqua pull-right"></i>
            </span>
          </a>
        </li>
          <% } else { %>
        <li>
          <a href="/">
            <i class="fa fa-dashboard"></i>
            <span>Trang chủ</span>
            <span class="pull-right-container">
              <i class="fa fa-circle-o text-aqua pull-right"></i>
            </span>
          </a>
        </li>
        <% } %>

          <% if (page == 'manageVersion') { %>
        <li class="active">
          <a href="/phien-ban">
            <i class="fa fa-dashboard"></i>
            <span>Quản lý phiên bản</span>
            <span class="pull-right-container">
              <i class="fa fa-circle-o text-aqua pull-right"></i>
            </span>
          </a>
        </li>
          <% } else { %>
        <li>
          <a href="/phien-ban">
            <i class="fa fa-dashboard"></i>
            <span>Quản lý phiên bản</span>
            <span class="pull-right-container">
              <i class="fa fa-circle-o text-aqua pull-right"></i>
            </span>
          </a>
        </li>
          <% } %>

        <% if (logged) { %>
          <% if (page == 'addActivity') { %>
          <li class="treeview active">
            <a href="#">
              <i class="fa fa-dashboard"></i> <span>Gửi thông báo / tin nhắn</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/chatbot/them-hoat-dong"><i class="fa fa-circle-o"></i> Thêm hoạt động</a></li>
              <li><a href="/chatbot/gui-tin-nhan"><i class="fa fa-circle-o"></i> Gửi tin nhắn</a></li>
            </ul>
          </li>
          <% } else { %>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-dashboard"></i> <span>Gửi thông báo / tin nhắn</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/chatbot/them-hoat-dong"><i class="fa fa-circle-o"></i> Thêm hoạt động</a></li>
              <li><a href="/chatbot/gui-tin-nhan"><i class="fa fa-circle-o"></i> Gửi tin nhắn</a></li>
            </ul>
          </li>
        <% }} %>

        <% if (logged) { %>
          <% if (page == 'add-quiz' | page == 'add-question-quiz') { %>
          <li class="treeview active">
            <a href="#">
              <i class="fa fa-dashboard"></i> <span>Trắc nghiệm / khảo sát</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/quiz/them-cuoc-khao-sat"><i class="fa fa-circle-o"></i> Tạo cuộc khảo sát</a></li>
              <li><a href="/quiz/them-bo-cau-hoi"><i class="fa fa-circle-o"></i> Tao bộ câu hỏi</a></li>
            </ul>
          </li>
          <% } else { %>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-dashboard"></i> <span>Trắc nghiệm / khảo sát</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/quiz/them-cuoc-khao-sat"><i class="fa fa-circle-o"></i> Tạo cuộc khảo sát</a></li>
              <li><a href="/quiz/them-bo-cau-hoi"><i class="fa fa-circle-o"></i> Tao bộ câu hỏi</a></li>
            </ul>
          </li>
        <% } %>

        <% if (page == 'statistic') { %>
        <li>
          <li class="active">
          <a href="/thong-ke">
            <i class="fa fa-pie-chart"></i>
            <span>Thống kê</span>
            <span class="pull-right-container">
              <i class="fa fa-circle-o text-yellow pull-right"></i>
            </span>
          </a>
        </li>
        <% } else { %>
        <li>
          <li>
          <a href="/thong-ke">
            <i class="fa fa-pie-chart"></i>
            <span>Thống kê</span>
            <span class="pull-right-container">
              <i class="fa fa-circle-o text-yellow pull-right"></i>
            </span>
          </a>
        </li>
        <% } %>
        <% } %>

        <!--THIẾU TRANG QUẢN LÝ TÀI KHOẢN-->
        <% if (logged) { %>
        <% if (page=='manager') { %>
        <li class="active">
          <a href="/thong-tin">
            <i class="fa fa-user"></i>
            <span>Quản lý tài khoản</span>
            <span class="pull-right-container">
              <i class="fa fa-circle-o text-aqua pull-right"></i>
            </span>
          </a>
        </li>
        <% } else { %>
          <li>
            <a href="/thong-tin">
              <i class="fa fa-user"></i>
              <span>Quản lý tài khoản</span>
              <span class="pull-right-container">
                <i class="fa fa-circle-o text-aqua pull-right"></i>
              </span>
            </a>
          </li>
        <% } %>
        <% } %>

        <% if (logged) { %>
          <% if (page=='managerQuiz') { %>
          <li class="active">
            <a href="/quan-ly-cau-hoi">
              <i class="fa fa-user"></i>
              <span>Quản lý bộ câu hỏi</span>
              <span class="pull-right-container">
                <i class="fa fa-circle-o text-aqua pull-right"></i>
              </span>
            </a>
          </li>
          <% } else { %>
            <li>
              <a href="/quan-ly-cau-hoi">
                <i class="fa fa-user"></i>
                <span>Quản lý bộ câu hỏi</span>
                <span class="pull-right-container">
                  <i class="fa fa-circle-o text-aqua pull-right"></i>
                </span>
              </a>
            </li>
          <% } %>
        <% } %>



        <% if (page == 'list_code_follow') { %>
        <li class="active">
          <a href="/danh-sach-ma">
            <i class="fa fa-code"></i>
            <span>Đăng ký / Hủy nhận tin</span>
            <span class="pull-right-container">
              <i class="fa fa-circle-o text-green pull-right"></i>
            </span>
          </a>
        </li>
        <% } else { %>
        <li>
          <a href="/danh-sach-ma">
            <i class="fa fa-code"></i>
            <span>Đăng ký / Hủy nhận tin</span>
            <span class="pull-right-container">
              <i class="fa fa-circle-o text-green pull-right"></i>
            </span>
          </a>
        </li>
        <% } %>
        <% if (page == 'contact') { %>
        <li class="active">
          <a href="/lien-he">
            <i class="fa fa-address-card"></i>
            <span>Liên hệ</span>
            <span class="pull-right-container">
              <i class="fa fa-circle-o text-aqua pull-right"></i>
            </span>
          </a>
        </li>
        <% } else { %>
        <li>
          <a href="/lien-he">
            <i class="fa fa-address-card"></i>
            <span>Liên hệ</span>
            <span class="pull-right-container">
              <i class="fa fa-circle-o text-aqua pull-right"></i>
            </span>
          </a>
        </li>
        <% } %>
        <!--
        <li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
      -->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
