<h3>Câu hỏi thứ <%= i %></h3>
<div class="row form-group">
	<label class="col-sm-2 control-label">Nhập câu hỏi</label>
	<div class="col-sm-10 input-group">
		<input type="text" class="form-control" placeholder="Nhập câu hỏi">
	</div>
</div>
<div class="row form-group">
	<label class="col-sm-2 control-label">Nhập câu trả lời 1</label>
	<div class="col-sm-10 input-group">
		<!-- <span class="input-group-addon">
			<input type="checkbox" name="" class="minimal">
		</span> -->`
		<input type="text" class="form-control" placeholder="Nhập câu trả lời 1">
	</div>
</div>
<div class="row form-group">
	<label class="col-sm-2 control-label">Nhập câu trả lời 2</label>
	<div class="col-sm-10 input-group">
		<!-- <span class="input-group-addon">
			<input type="checkbox" name="" class="minimal">
		</span> -->
		<input type="text" class="form-control" placeholder="Nhập câu trả lời 2">
	</div>
</div>
<div class="row form-group">
	<label class="col-sm-2 control-label">Nhập câu trả lời 3</label>
	<div class="col-sm-10 input-group">
		<!-- <span class="input-group-addon">
			<input type="checkbox" name="" class="minimal">
		</span> -->
		<input type="text" class="form-control" placeholder="Nhập câu trả lời 3">
	</div>
</div>
<div class="row form-group">
	<label class="col-sm-2 control-label">Nhập câu trả lời 4</label>
	<div class="col-sm-10 input-group">
		<!-- <span class="input-group-addon">
			<input type="checkbox" name="" class="minimal">
		</span> -->
		<input type="text" class="form-control" placeholder="Nhập câu trả lời 4">
	</div>
</div>
