<div class="table-responsive">
  <table id="control" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên thuộc cấp</th>
        <th>Email</th>
        <th>Tuỳ chọn</th>
      </tr>
    </thead>
    <tbody>
    <% for (var i=0; i < belongTo.length; i++) { %>
    <tr>
      <td class="Stt"><%= i+1 %></td>
      <td><%= belongTo[i].username %></td>
      <td><%= belongTo[i].email %></td>
      <td class="action">
        <a href="<%= '#changePassword'+i %>" data-toggle="modal" data-target="<%= '#changePassword'+i %>" class="touch-link"><i class="fa fa-key" aria-hidden="true"></i></a>
        <a href="<%= '#changeInfoFaculty'+i %>" data-toggle="modal" data-target="<%= '#changeInfoFaculty'+i %>" class="touch-link"><i class="fa fa-align-justify" aria-hidden="true"></i></a>
        <a href="<%= '#changeActivity'+i %>" data-toggle="modal" data-target="<%= '#changeActivity'+i %>" class="touch-link"><i class="fa fa-trophy" aria-hidden="true"></i></a>
        <a href="<%= '#deleteFacultyAccount'+i %>" data-toggle="modal" data-target="<%= '#deleteFacultyAccount'+i %>" class="touch-link"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </td>
    </tr>
    <% } %>
    </tbody>
  </table>

  <a href="/them-tai-khoan/truong"><button type="button" class="btn btn-lg btn-blue-border">Thêm</button></a>

  <% for(var i=0; i < belongTo.length; i++) { %>
  <!-- Doi Mat Khau -->
  <div class="modal fade" id="<%= 'changePassword'+i %>" tabindex="-1" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="<%= '#changePassword'+i %>">Đổi mật khẩu</h3>
        </div>
        <div class="modal-body">
          <!--XEM LẠI CHỖ FORM ACTION-->
          <form action="/thong-tin" method="post">

            <div class="form-group">
              <label>Mật khẩu mới</label>
              <input type="password" class="form-control" aria-label="password" name="password" placeholder="Nhập mật khẩu mới">
            </div>
            <div class="form-group">
              <label>Nhập lại mật khẩu mới</label>
              <input type="password" class="form-control" aria-label="reTypePass" name="reTypePass" placeholder="Nhập lại mật khẩu mới">
            </div>
            <div style="visibility: collapse">
              <label>ID</label>
              <input type="text" class="form-control" value="<%= belongTo[i]._id %>" aria-label="AlterName" name="id">
            </div>
            <div class="modal-footer">
              <button type="submit" name="loailenh" value= "changeFacultyPassword" class="btn btn-primary">Đổi mật khẩu</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <% for(var i=0; i < belongTo.length; i++) { %>
  <!-- Doi ThôngTin -->
  <div class="modal fade" id="<%= 'changeInfoFaculty'+i %>" tabindex="-1" role="dialog" aria-labelledby="changeInfo" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title" id="<%= '#changeInfoFaculty'+i %>">Đổi thông tin</h3>
        </div>
        <div class="modal-body">
          <!--XEM LẠI CHỖ FORM ACTION-->
          <form action="/thong-tin" method="post">

            <div class="form-group">
              <label>Tên đơn vị tổ chức</label>
              <input type="text" class="form-control" aria-label="username" name="username" value="<%= belongTo[i].username %>">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" aria-label="email" name="email" value="<%= belongTo[i].email %>">
            </div>
            <div style="visibility: collapse">
              <label>ID</label>
              <input type="text" class="form-control" value="<%= belongTo[i]._id %>" aria-label="AlterName" name="id">
            </div>
            <div class="modal-footer">
              <button type="submit" name="loailenh" value= "changeFacultyInfo" class="btn btn-primary">Đổi thông tin</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <% for(var i=0; i < belongTo.length; i++) { %>
  <!-- Xoá tài khoản -->
  <div class="modal fade" id="<%= 'deleteFacultyAccount'+i %>" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title" id="<%= 'deleteFacultyAccount'+i %>">Xoá tài khoản</h3>
        </div>
        <div class="modal-body">
          <!--XEM LẠI CHỖ FORM ACTION-->
          <form action="/thong-tin" method="post">
            <div style="visibility: collapse">
              <label>ID</label>
              <input type="text" class="form-control" value="<%= belongTo[i]._id %>" aria-label="id" name="id">
            </div>
            <div class="modal-footer">
              <button type="submit" name="loailenh" value= "deleteFacultyAccount" class="btn btn-primary">Xoá tài khoản</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
