<form action="/thong-tin" method="post" role="form">
  <div class="box-body">
    <div class="form-group">
      <label>TÊN ĐƠN VỊ</label>
      <input class="form-control" name="" value="<%= donvi %>" readonly>
    </div>
    <div class="form-group">
      <label for="DateOfActivity">TRỰC THUỘC</label>
      <input class="form-control" name="" value="<%= thuoccap %>" readonly>
    </div>
    <div class="form-group">
      <label>ĐỊA CHỈ</label>
      <input class="form-control" name="address" value="<%= address %>">
    </div>
    <div class="form-group">
      <label>EMAIL</label>
      <input class="form-control" type="email" placeholder="<%= email %>" aria-label="Email" name="email" aria-describedby="basic-addon1" readonly>
    </div>
    <div class="form-group">
      <label>MẬT KHẨU HIỆN TẠI</label>
      <input class="form-control" type="password" name="current_pass" placeholder="Nhập mật khẩu hiện tại">
    </div>
    <div class="form-group">
      <label>MẬT KHẨU MỚI</label>
      <input class="form-control" type="password" name="new_password" placeholder="Nhập mật khẩu mới">
    </div>
    <div class="form-group">
      <label>NHẬP LẠI MẬT KHẨU</label>
      <input class="form-control" type="password" name="reType_password" placeholder="Nhập lại mật khẩu mới">
    </div>
  </div>
  <!-- /.box-body -->
  <div class="box-footer">
    <button type="submit" name="loailenh" value="changeAccountPassword" class="btn btn-lg btn-blue-border">THAY ĐỔI</button>
  </div>
</form>
