<div class="table-responsive">
  <div class="message-flash">
    <div class="alert alert-success alert-dismissible addNewEmail" hidden>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h5><i class="icon fa fa-check"></i> Đã thêm tài khoản nhận thông báo thành công!</h5>
    </div>
  </div>
  <div class="message-flash">
    <div class="alert alert-success alert-dismissible alterEmail" hidden>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h5><i class="icon fa fa-check"></i> Thay đổi thông tin thành công!</h5>
    </div>
  </div>
  <div class="message-flash">
    <div class="alert alert-success alert-dismissible deleteEmail" hidden>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h5><i class="icon fa fa-check"></i> Xoá tài khoản nhận thông báo thành công!</h5>
    </div>
  </div>
  <table id="email_list" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>STT</th>
        <th>Họ và tên</th>
        <th>Email</th>
        <th>Tuỳ chọn</th>
      </tr>
    </thead>
    <tbody>
    <% for (var i=0; i < danhsach.length; i++) { %>
      <tr>
        <td class="Stt"><%= i+1 %></td>
        <td><%= danhsach[i].name %></td>
        <td><%= danhsach[i].email %></td>
        <td class="action">
          <a href="<%= '#changeInfo'+i %>" data-toggle="modal" data-target="<%= '#changeInfo'+i %>" class="touch-link"><i class="fa fa-align-justify" aria-hidden="true"></i></a>
          <a href="<%= '#delete'+i %>" data-toggle="modal" data-target="<%= '#delete'+i %>" class="touch-link"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </td>
      </tr>
    <% } %>
    </tbody>
  </table>

  <button type="button" data-toggle="modal" data-target="#addNewAccount" class="btn btn-lg btn-blue-border">Thêm</button>

  <!-- Thêm tài khoản -->
  <div class="modal fade" id="addNewAccount" tabindex="-1" role="dialog" aria-labelledby="addNewAccount" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!--HERE-->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title">Thêm tài khoản</h3>
        </div>
        <div class="modal-body">
          <!--XEM LẠI CHỖ FORM ACTION-->
          <form action="/thong-tin" method="post">
            <div class="form-group">
              <label>Họ và tên</label>
              <input type="text" class="form-control" aria-label="newName" name="newName" placeholder="Nhập họ và tên" required>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" aria-label="newEmail" name="newEmail" placeholder="Nhập email" required>
            </div>
            <div class="modal-footer">
                <div class="addNewEmail">
                  <button type="submit" name="loailenh" value= "addEmailReceive" class="btn btn-primary">Thêm tài khoản</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <% for (var i=0; i < danhsach.length; i++) {%>
  <!-- Thay đổi thông tin -->
  <div class="modal fade" id="<%= 'changeInfo'+i %>" tabindex="-1" role="dialog" aria-labelledby="addNewAccount" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title" id="<%= '#changeInfo'+i %>">Thay đổi thông tin</h3>
        </div>
        <div class="modal-body">
          <!--XEM LẠI CHỖ FORM ACTION-->
          <form action="/thong-tin" method="post">

            <div class="form-group">
              <label>Họ và tên</label>
              <input type="text" class="form-control" value="<%= danhsach[i].name %>" aria-label="AlterName" name="alterName">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" value="<%= danhsach[i].email %>" aria-label="AlterEmail" name="alterEmail">
            </div>
            <div style="visibility: collapse">
              <label>ID</label>
              <input type="text" class="form-control" value="<%= danhsach[i]._id %>" aria-label="AlterName" name="id" readonly>
            </div>
            <div class="modal-footer">
              <div class="alterEmail">
                <button type="submit" name="loailenh" value= "alterEmailReceive" class="btn btn-primary">Thay đổi</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <% for (var i=0; i < danhsach.length; i++) { %>
  <!-- Xoá tài khoản -->
  <div class="modal fade" id="<%= 'delete'+i %>" tabindex="-1" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="<%= 'delete'+i %>">Xoá tài khoản</h3>
        </div>
        <div class="modal-body">
          <!--XEM LẠI CHỖ FORM ACTION-->
          <form action="/thong-tin" method="post">
            <div style="visibility: collapse">
              <label>ID</label>
              <input type="text" class="form-control" value="<%= danhsach[i]._id %>" aria-label="AlterName" name="id">
            </div>
            <div class="modal-footer">
              <div class="deleteEmail">
                <button type="submit" name="loailenh" value= "deleteEmailReceive" class="btn btn-primary">Xoá tài khoản</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  <script defer>
  	$(function() {
  	 $('.addNewEmail button').click(function() {
  	 $(this).focus();
  	 $(this).select();
  	 $(".addNewEmail").show().fadeOut(5000);
  	 });
  	});
  </script>
  <script defer>
    $(function() {
     $('.alterEmail button').click(function() {
     $(this).focus();
     $(this).select();
     $(".alterEmail").show().fadeOut(5000);
     });
    });
  </script>
  <script defer>
    $(function() {
     $('.deleteEmail button').click(function() {
     $(this).focus();
     $(this).select();
     $(".deleteEmail").show().fadeOut(5000);
     });
    });
  </script>
</div>
