<strong><i class="fa fa-book margin-r-5"></i> Tổng số hoạt động đã được tạo</strong>

<p class="text-muted">
  <%= activities.length %>
</p>

<hr>

<strong><i class="fa fa-map-marker margin-r-5"></i> Số người đang theo dõi</strong>

<p class="text-muted"><%= theodoi %></p>

<hr>
<% if (activities[0] != null) { %>
<% if (activities[0].checkSent) { %>

<strong><i class="fa fa-file-text-o margin-r-5"></i> Sự kiện sắp diễn ra</strong>
<% dateTime = new Date(activities[0].date) %>

<<<<<<< HEAD
<p class="text-muted"><%= activities[0].activity_name %> <br> <%= dateTime.getHours() %>:<%= dateTime.getMinutes() %> ngày <%= dateTime.getDate() %>/<%= dateTime.getMonth() + 1 %>/<%= dateTime.getFullYear() %></p>
=======
<p class="text-muted"><%= activities[0].activity_name %> <br> <%= dateTime.getHours() %>:<%= dateTime.getMinutes() %> ngày <%= dateTime.getDate() %>/<%= dateTime.getMonth()+1 %>/<%= dateTime.getFullYear() %></p>
>>>>>>> viethung

<% }} %>
<!--
<strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

<p>
  <span class="label label-danger">UI Design</span>
  <span class="label label-success">Coding</span>
  <span class="label label-info">Javascript</span>
  <span class="label label-warning">PHP</span>
  <span class="label label-primary">Node.js</span>
</p>

<hr> -->
<!--
<strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p> -->
