
<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head_tag') %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


  <!-- Left side column. contains the logo and sidebar -->
  <%- include('../partials/menuBar') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Thông tin tài khoản
        <small>quản lý các phần</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Quản lý tài khoản</a></li>
        <li class="active">Thông tin chung</li>

      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="/images/uploads/<%= profile_pic %>" alt="User profile picture">

              <h3 class="profile-username text-center"><%= name %></h3>

              <p class="text-muted text-center"><%= email %></p>

              <a href="#changeAvatar" data-toggle="modal" class="btn btn-info btn-block touch-link">Thay đổi ảnh đại diện</a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <%- include('./infor') %>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <% if(tab == 'maininfo') {%>
                <li class="active"><a href="#account-infomation" data-toggle="tab">Thông tin chung</a></li>
              <% } else {%>
                <li ><a href="#account-infomation" data-toggle="tab">Thông tin chung</a></li>
              <% } %>

              <% if(role <= 3) { %>
                <% if(tab == 'accounts-faculty') {%>
                  <li class="active"><a href="#accounts-faculty" data-toggle="tab">Tài khoản các đơn vị</a></li>
                <% } else {%>
                  <li><a href="#accounts-faculty" data-toggle="tab">Tài khoản các đơn vị</a></li>
                <% } %>
              <% } %>

              <% if(tab == 'accounts-faculty') {%>
                <li class="active"><a href="#manager-activities" data-toggle="tab">Quản lý hoạt động</a></li>
              <% } else {%>
                <li><a href="#manager-activities" data-toggle="tab">Quản lý hoạt động</a></li>
              <% } %>

              <% if(role == 2) {%>
                <% if(tab == 'timeline') {%>
                  <li class="active"><a href="#timeline" data-toggle="tab">Timeline</a></li>
                <% } else {%>
                  <li><a href="#timeline" data-toggle="tab">Timeline</a></li>
              <% }} %>
            </ul>

            <div class="tab-content">
              <% if(tab == 'maininfo') {%>
                <div class="active tab-pane" id="account-infomation">
                  <%- include('./detail') %>
                </div>
                <% } else {%>
                  <div class="tab-pane" id="account-infomation">
                    <%- include('./detail') %>
                  </div>
              <% } %>

              <% if(role <= 3) {%>
                <% if(tab == 'accounts-faculty') {%>
                  <div class="active tab-pane" id="accounts-faculty">
                    <%- include('./control') %>
                  </div>
                <% } else {%>
                  <div class="tab-pane" id="accounts-faculty">
                    <%- include('./control') %>
                  </div>
              <% }} %>

              <% if(tab == 'manager-activities') {%>
                <div class="active tab-pane" id="manager-activities">
                  <%- include('./manager-activities') %>
                </div>
              <% } else {%>
                <div class="tab-pane" id="manager-activities">
                  <%- include('./manager-activities') %>
                </div>
              <% } %>
              <!-- /.tab-pane -->

              <% if(role == 2) {%>
                <% if(tab == 'timeline') {%>
                  <div class="active tab-pane" id="timeline">
                    <!-- The timeline -->
                      <%- include('./timeline') %>
                  </div>
                <% } else {%>
                  <div class="tab-pane" id="timeline">
                    <!-- The timeline -->
                      <%- include('./timeline') %>
                  </div>
              <% }} %>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
      </div>
    </section>
    <!-- /.content -->
    <div class="modal fade in" tabindex="-1" role="dialog" id="changeAvatar">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Lựa chọn hình ảnh tải lên
          </div>
          <div class="modal-body">
            <div class="row text-center logo_review">
              <img src="/images/uploads/<%= profile_pic %>" alt="Profile picture">
              <br> <br>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <form id="frmUploader" enctype="multipart/form-data" action="/fileUpload" method="post">
                  <input type="file" name="imgUploader" id="i_file" accept=".jpg, .jpeg, .png"/>
                  <input type="submit" name="submit" id="btnSubmit" value="Upload" />
                </form>
                <script defer>
                    var uploadField = document.getElementById("i_file");
                  
                    uploadField.onchange = function() {
                        if(this.files[0].size > 307200){
                          alert("File is too big!");
                          this.value = "";
                        };
                    };
                  </script>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-wrapper -->

  	<%- include('../partials/footer') %>
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<%- include('../partials/bottom-script') %>
</body>
</html>
