<div class="table-responsive">
  <table id="manager" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên hoạt động</th>
        <th>Thời gian diễn ra</th>
        <th>Địa điểm</th>
        <th>Số người tham dự</th>
        <th>Tuỳ chọn</th>
      </tr>
    </thead>
    <!-- Các hoạt động đã được duyệt -->
    <% for (var i=0; i < activities.length; i++) { %>
      <% if (activities[i].checkSent) { %>
        <tbody>
          <tr>
            <td class="Stt"><%= i+1 %></td>
            <td><%= activities[i].activity_name %></td>
            <% dateTime = new Date(activities[i].date) %>
            <td><%= dateTime.getHours() %>:<%= dateTime.getMinutes() %> ngày <%= dateTime.getDate() %>/<%= dateTime.getMonth() + 1 %>/<%= dateTime.getFullYear() %> </td>
            <td><%= activities[i].position %></td>
            <%= theodoi += activities[i].numberOfParticipant %>
            <td><%= activities[i].numberOfParticipant %></td>
            <td class="action">
              <a href="<%= '#alterActivity'+i %>" data-toggle="modal" data-target="<%= '#alterActivity'+i %>" class="touch-link"><i class="fa fa-align-justify" aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
      <% }} %>
    <!-- Các hoạt động chưa duyệt -->
    <% for (var i=0; i < activities.length; i++) { %>
      <% if (!activities[i].checkSent) { %>
        <tbody>
          <tr style="background: #c7c7c7">
            <td class="Stt"><%= i+1 %></td>
            <td><%= activities[i].activity_name %></td>
            <% dateTime = new Date(activities[i].date) %>
            <td><%= dateTime.getHours() %>:<%= dateTime.getMinutes() %> ngày <%= dateTime.getDate() %>/<%= dateTime.getMonth() + 1 %>/<%= dateTime.getFullYear() %> </td>
            <td><%= activities[i].position %></td>
            <td><%= activities[i].numberOfParticipant %></td>
            <td class="action">
              <a href="<%= '#alterActivity'+i %>" data-toggle="modal" data-target="<%= '#alterActivity'+i %>" class="touch-link"><i class="fa fa-align-justify" aria-hidden="true"></i></a>
              <a href="<%= '#deleteActivity'+i %>" data-toggle="modal" data-target="<%= '#deleteActivity'+i %>" class="touch-link"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
      <% }} %>
  </table>

  <% for (var i=0; i < activities.length; i++) {%>
  <!-- Thay đổi thông tin -->
  <div class="modal fade" id="<%= 'alterActivity'+i %>" tabindex="-1" role="dialog" aria-labelledby="alterActivity" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title" id="<%= '#changeInfo'+i %>">Thay đổi thông tin</h3>
        </div>
        <div class="modal-body">
          <!--XEM LẠI CHỖ FORM ACTION-->
            <div class="form-group">
              <label>ĐƠN VỊ TỔ CHỨC</label>
                <input type="text" class="form-control" value="<%= activities[i].schoolName %>" aria-label="alterName" name="alterName" readonly>
            </div>
            <div class="form-group">
              <label>TÊN HOẠT ĐỘNG</label>
                <input type="text" class="form-control" value="<%= activities[i].activity_name %>" aria-label="alterName" name="alterName" readonly>
            </div>
            <% dateTime = new Date(activities[i].date) %>

            <div class="form-group">
              <label>THỜI GIAN</label>
              <input type="text" class="form-control" value="<%=dateTime.getHours() %>:<%= dateTime.getMinutes() %> ngày <%= dateTime.getDate() %>/<%= dateTime.getMonth() + 1 %>/<%= dateTime.getFullYear() %>" aria-label="alterPosition" name="alterPosition" readonly>
            </div>

            <div class="form-group">
              <label>ĐỊA ĐIỂM</label>
              <input type="text" class="form-control" value="<%= activities[i].position %>" aria-label="alterPosition" name="alterPosition" readonly>
            </div>

            <div class="form-group">
              <label>NỘI DUNG</label>
              <textarea class="form-control" name="alterInfor" value="<%= activities[i].introduction %>" autocomplete="off" rows="3" onkeyup="change(this);" readonly><%= activities[i].introduction %></textarea>
            </div>

            <div class="form-group">
              <label>KẾ HOẠCH HOẠT ĐỘNG</label>
              <input type="text" class="form-control" value="<%= activities[i].linkDetail %>" aria-label="alterPosition" name="alterLinkDetail" readonly>
            </div>

            <% if(activities[i].checkSent == false) {%>
            <div class="modal-footer">
              <form action="/thong-tin" method="post">
                <div style="visibility: collapse">
                  <label>ID</label>
                  <input type="text" value="<%= activities[i]._id %>" aria-label="AlterName" name="id">
                </div>
                <button type="submit" name="loailenh" value= "reconfirm" class="btn btn-primary">Xác nhận lại hoạt động</button>
              </form>
            </div>

            <div class="modal fade" id="<%= 'reconfirm'+i %>" tabindex="-1" role="dialog" aria-labelledby="reconfirm" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="<%= 'reconfirm'+i %>">XÁC NHẬN LẠI HOẠT ĐỘNG THÀNH CÔNG</h3>
                  </div>
                  <div class="modal-body">

                  </div>
                </div>
              </div>
            </div>

            <% } %>
        </div>
      </div>
    </div>
  </div>


  <% } %>

  <% for (var i=0; i < activities.length; i++) { %>
  <!-- Xoá tài khoản -->
  <div class="modal fade" id="<%= 'deleteActivity'+i %>" tabindex="-1" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="<%= 'deleteActivity'+i %>">Xoá hoạt động</h3>
        </div>
        <div class="modal-body">
          <!--XEM LẠI CHỖ FORM ACTION-->
          <form action="/thong-tin" method="post">
            <div style="visibility: collapse">
              <label>ID</label>
              <input type="text" class="form-control" value="<%= activities[i]._id %>" aria-label="AlterName" name="id">
            </div>
            <div class="modal-footer">
              <button type="submit" name="loailenh" value= "deleteActivity" class="btn btn-primary">Xoá hoạt động</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  <!-- ./Các hoạt động đang diễn ra -->

</div>
