<form action="/quan-ly-cau-hoi" method="post" role="form">
  <div class="box-body">
    <% for(var i = 0; i < action; i++) { %>
      <h3>Câu hỏi thứ <%= i + 1 %></h3>
      <div class="row form-group">
        <label class="col-sm-2 control-label">Câu hỏi</label>
        <div class="col-sm-10 input-group">
          <input type="text" class="form-control" name="<%= Question[i].Question_ID %>" value="<%= Question[i].Question %>" placeholder="Nhập câu hỏi">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-2 control-label">Câu trả lời 1</label>
        <div class="col-sm-10 input-group">
          <span class="input-group-addon">
            <% if (Answer[i*4 + 0].isAnswer) {%>
            <input type="checkbox" name="<%= 'is' + Answer[i*4 + 0].AnswerID %>" checked >
            <% } else { %>
            <input type="checkbox" name="<%= 'is' + Answer[i*4 + 0].AnswerID %>">
            <% } %>
          </span>
          <input type="text" class="form-control" name="<%= Answer[i*4 + 0].AnswerID %>" value="<%= Answer[i*4 + 0].Answer %>" placeholder="Nhập câu trả lời 1">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-2 control-label">Câu trả lời 2</label>
        <div class="col-sm-10 input-group">
          <span class="input-group-addon">
            <% if (Answer[i*4 + 1].isAnswer) {%>
            <input type="checkbox" name="<%= 'is' + Answer[i*4 + 1].AnswerID %>" checked>
            <% } else { %>
            <input type="checkbox" name="<%= 'is' + Answer[i*4 + 1].AnswerID %>">
            <% } %>
          </span>
          <input type="text" class="form-control" name="<%= Answer[i*4 + 1].AnswerID %>" value="<%= Answer[i*4 + 1].Answer %>" placeholder="Nhập câu trả lời 2">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-2 control-label">Câu trả lời 3</label>
        <div class="col-sm-10 input-group">
          <span class="input-group-addon">
            <% if (Answer[i*4 + 2].isAnswer) {%>
            <input type="checkbox" name="<%= 'is' + Answer[i*4 + 2].AnswerID %>" checked>
            <% } else { %>
            <input type="checkbox" name="<%= 'is' + Answer[i*4 + 2].AnswerID %>">
            <% } %>
          </span>
          <input type="text" class="form-control" name="<%= Answer[i*4 + 2].AnswerID %>" value="<%= Answer[i*4 + 2].Answer %>" placeholder="Nhập câu trả lời 3">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-2 control-label">Câu trả lời 4</label>
        <div class="col-sm-10 input-group">
          <span class="input-group-addon">
            <% if (Answer[i*4 + 3].isAnswer) {%>
            <input type="checkbox" name="<%= 'is' + Answer[i*4 + 3].AnswerID %>" checked >
            <% } else { %>
            <input type="checkbox" name="<%= 'is' + Answer[i*4 + 3].AnswerID %>">
            <% } %>
          </span>
          <input type="text" class="form-control" name="<%= Answer[i*4 + 3].AnswerID %>" value="<%= Answer[i*4 + 3].Answer %>" placeholder="Nhập câu trả lời 4">
        </div>
      </div>
  <% } %>
  </div>
</form>
