<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wabisabi | Liên hệ</title>
  <%- include('partials/head_tag') %>
</head>
<body style="background-color: #ecf0f5;">
  <!-- Main content -->
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-yellow"> 404</h2>

      <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Không tìm thấy trang.</h3>

        <p>Bạn không có quyền truy cập trang này hoặc Chúng tôi không tìm thấy trang bạn yêu cầu.</p>
        <p>Vui lòng <a href="/">trở về trang chủ</a> hoặc <a href="/login">đăng nhập </a>để sử dụng.</p>

      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
<%- include('partials/bottom-script') %>
</body>
</html>