<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wabisabi | Liên hệ</title>
  <%- include('partials/head_tag') %>
</head>
<body style="background-color: #ecf0f5;">
  <!-- Main content -->
  <section class="content">

    <div class="error-page">
      <h2 class="headline text-red">500</h2>

      <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> Oops! Đã xảy ra sự cố.</h3>
        <p>Chúng tôi sẽ cố gắng khắc phục ngay.</p>
        <p>Vui lòng <a href="/">trở về trang chủ</a>.</p>
      </div>
    </div>
    <!-- /.error-page -->

  </section>
</body>
</html>