
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wabisabi | Liên hệ</title>
	<%- include('partials/head_tag') %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
	<%- include('partials/menuBar') %>
	<div class="content-wrapper">

		<!-- views/partials/body_about.ejs -->

		<!-- Carousel -->
		<div class="myCarousel">
			<div id="wabisabiCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#wabisabiCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#wabisabiCarousel" data-slide-to="1"></li>
					<li data-target="#wabisabiCarousel" data-slide-to="2"></li>
				</ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner text-center">
				<div class="item active">
				  <img src="images/slider-core.jpg" alt="Mô tả">
				  <div class="carousel-caption">
					<h3>&nbsp;</h3>
				  </div>
				</div>
				<div class="item">
				  <img src="images/slider-activity.jpg" alt="Mô tả">
				  <div class="carousel-caption">
					<h3>&nbsp;</h3>
				  </div>
				</div>
				<div class="item">
				  <img src="images/slider-connect.jpg" alt="Mô tả">
				  <div class="carousel-caption">
					<h3>&nbsp;</h3>
				  </div>
				</div>
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#wabisabiCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			  </a>
			  <a class="right carousel-control" href="#wabisabiCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			  </a>
			</div>
		</div>
		<!-- End of Carousel -->
		<div class="featured container-fluid">
			<!-- Feature -->
			<div class="about-featured">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<p class="about-featured-title">Wabisabi giúp cho việc quản lý các hoạt động của bạn trở nên dễ dàng hơn bao giờ hết</p>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 text-center">
					<div class="about-box">
						<img src="images/icon_lightbulb_alt-150px.png" alt="icon_lightbulb_alt">
						<h3><strong>Thông minh</strong></h3>
						<p class="text-justify">Định hướng của chúng tôi là tiếp tục cung cấp tính năng nhằm phục vụ nhu cầu sử dụng của sinh viên.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 text-center">
					<div class="about-box">
						<img src="images/icon_gift_alt-150px.png" alt="icon_gift_alt">
						<h3><strong>Miễn phí</strong></h3>
						<p class="text-justify">Miễn phí và sẽ luôn như thế. Đây là món quà mà nhóm thực hiện giành tặng cho các bạn sinh viên.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 text-center">
					<div class="about-box">
						<img src="images/icon_chat_alt-150px.png" alt="icon_chat_alt">
						<h3><strong>Nền tảng Chatbot</strong></h3>
						<p class="text-justify">Không cần phải cài đặt thêm bất kỳ phần mềm nào, bạn sử dụng ngay trên Facebook Messenger sẵn có trên điện thoại của mình.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="about-box">
						<img src="images/icon_share_network_connect_connection_alt-150px.png" alt="icon_share_network_connect_connection">
						<h3><strong>Kết nối</strong></h3>
						<p class="text-justify">Kết nối những người có cùng sự quan tâm đối với các hoạt động tình nguyện. Sinh viên các trường khác có thể theo dõi thông tin và đăng ký tham gia khi có mong muốn.</p>
					</div>
				</div>
			</div>
		<!-- End of Feature -->
		</div>

		<!-- Contact -->
		<div class="my-contacts container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="big-title">
						<p class="about-featured-title">Về chúng tôi</p>
					</div>
				</div>

				<div class="col-lg-12 col-md-12 about-poforlio">
					<div class="col-lg-4 col-md-4">
						<div class="about-img text-center">
							<img class="gold-medal-img" src="images/gold_medal.png" alt="avt">
							<img src="images/quanlt.jpg" alt="avt">
						</div>
						<div class="about-info">
							<h3 class="text-center">PGS. TS. Lê Trung Quân</h3>
							<p class="about-info-school text-center">Head of Department of Computer Networks</p>
							<div class="about-info-quote text-justify">Giảng viên khoa Mạng máy tính &amp; Truyền thôngTrưởng bộ môn Mạng máy tính, trường ĐH Công nghệ Thông tin ĐHQG-HCM. <b>Giảng viên hướng dẫn đề tài.</b></div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="about-img text-center">
							<img src="images/vihu.jpg" alt="avt">
						</div>
						<div class="about-info">
							<h3 class="text-center">Hưng Lê</h3>
							<p class="about-info-school text-center">Software Development Fresher</p>
							<div class="about-info-quote text-justify">Sinh viên khoa Mạng máy tính &amp; Truyền thông, trường ĐH Công nghệ Thông tin ĐHQG-HCM. Nghiên cứu chuyên ngành Internet of Things.</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="about-img text-center">
							<img src="images/kenji.jpg" alt="avt">
						</div>
						<div class="about-info">
							<h3 class="text-center">Minh Thiện</h3>
							<p class="about-info-school text-center">University of Infomation Technology</p>
							<div class="about-info-quote text-justify">Sinh viên khoa Mạng máy tính &amp; Truyền thông, trường ĐH Công nghệ Thông tin ĐHQG-HCM. Nghiên cứu chuyên ngành Internet of Things.</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Contact -->
		</div>

		<!-- End of Container -->

		<!-- Contact Detail -->
		<div class="contact-form container-fluid">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				<div class="big-title text-white mb10">Liên hệ</div>
				<p class="text-contact mb30">Liên hệ ngay với chúng tôi, những góp ý của bạn luôn được lắng nghe để xây dựng Wabisabi là công cụ hỗ trợ đắc lực cho sinh viên.</p>
				<form action="/lien-he" method="post" class="dark-theme form-size" role="form">
					<div class="text-left">
						<label class="title">HỌ VÀ TÊN</label>
						<input type="text" id="txtFullname" class="form-control input-lg" name="txtName" required>
					</div>

					<div class="mt18 text-left">
						<label class="title">ĐỊA CHỈ EMAIL</label>
						<input type="email" id="txtEmail" class="form-control input-lg" name="email" required>
					</div>

					<div class="mt18 text-left">
						<label class="title">NỘI DUNG</label>
						<textarea id="txtContent" class="form-control" rows="7" name="message" required></textarea>
					</div>

					<input type="submit" id="submit-feedback" class="btn btn-lg btn-white-border min-w150 mt26" />
				</form>
			</div>
		</div>

	</div>
	<%- include('partials/footer.ejs') %>
</div>
<%- include('partials/bottom-script') %>
</body>
</html>
