<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head_tag') %>
	
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
	<%- include('partials/menuBar') %>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Gửi đến chatbot
				<small>khởi tạo hoạt động mới</small>
			</h1>
			<ol class="breadcrumb">
				<li class="active"><a href="#"><i class="fa fa-calendar-plus-o"></i> Thêm sự kiện</a></li>
			</ol>
		</section>
		<!-- Main content -->
		<section class="content">
		<div class="row">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Thông tin hoạt động</h3>
				</div>
					<!-- /.box-header -->
					<!-- form start -->
				<form action="/chatbot/them-hoat-dong" method="post" role="form">
					<div class="box-body">
						<div class="form-group">
							<label for="Actitvity_Name">TÊN HOẠT ĐỘNG</label>
							<input class="form-control" name="Actitvity_Name" placeholder="Nhập tên hoạt động" autocomplete="off" required>
						</div>
								<!-- Date dd/mm/yyyy -->
						<div class="form-group">
							<label>THỜI GIAN TỔ CHỨC</label>
							<div class="row">
								<div class="col-md-4">
									<div class="input-group bootstrap-timepicker">
										<input name="time_of_event" class="form-control timepicker" required>
										<div class="input-group-addon">
											<i class="fa fa-clock-o"></i>
										</div>
									</div>
								</div>
								<div class="col-md-8">
									<div class="input-group">
										<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
										</div>
										<input class="form-control" name="day_of_event" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask required>
									</div>
								</div>
							</div>
							<!-- /.input group -->
						</div>
							<!-- /.form group -->

						<div class="form-group">
							<label>ĐỊA ĐIỂM</label>
							<input class="form-control" name="LocationOfActivity" placeholder="Nhập vào địa điểm" autocomplete="off" required>
						</div>
							<div class="form-group">
							<label>NỘI DUNG</label>
							<textarea class="form-control" name="Actitvity_Content" placeholder="Nhập tên hoạt động" autocomplete="off" rows="8" maxlength="500" required></textarea>
						</div>
						<div class="form-group">
							<label>LINK KẾ HOẠCH HOẠT ĐỘNG</label>
							<input class="form-control" type="url" value="http://hsvbot.me" name="url_input" placeholder="Nhập link kế hoạch" autocomplete="off">
						</div>
						<div class="form-group">
							<label>LOẠI HOẠT ĐỘNG</label>
							<div class="checkbox">
								<label><input type="checkbox" name="sv5t">Sinh viên 5 tốt</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" name="skill">Kỹ năng sinh viên</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" name="academy">Cuộc thi học thuật</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" name="volunteer">Tình nguyện vì cộng đồng</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" name="integration">Hội nhập quốc tế</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" name="studentSupport">Tư vấn, hỗ trợ sinh viên</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" name="leaders">Công tác cán bộ</label>
							</div>
						</div>

					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<input type="submit" name="submit-activity" class="btn btn-lg btn-blue-border" value="Gửi"/>
					</div>
				</form>
			</div>
		</div>
		</section>
	</div>


	<%- include('partials/footer') %>
	<!-- Add the sidebar's background. This div must be placed
		 immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>
</div>
<%- include('partials/bottom-script') %>

</body>
</html>
