<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head_tag') %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
	<%- include('partials/menuBar') %>
	<!-- Content Wrapper. Contains page content -->
  	<div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Thêm địa điểm tình nguyện
          <small>khởi tạo địa điểm mới</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active"><a href="#"><i class="fa fa-location-arrow"></i> Thêm địa điểm tình nguyện</a></li>
        </ol>
      </section>
      <!-- Main content -->
  	  <section class="content">
        <div class="row">
      	  <div class="col-md-12">
      	    <!-- general form elements -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Thông tin địa điểm tình nguyện</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <form action="/dia-diem-tinh-nguyen/them" method="post" role="form">
                <div class="box-body">
                  <div class="form-group">
                    <label>ĐỊA ĐIỂM TÌNH NGUYỆN</label>
                    <input class="form-control" placeholder="Nhập tên địa điểm tình nguyện" name="locationName" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label>LOẠI ĐỊA ĐIỂM</label>
                    <div class="checkbox">
                      <label><input type="checkbox" name="children">Trẻ em</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="elderly">Người già</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="homeless">Người vô gia cư</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="disability">Người khuyết tật</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="diseases">Người mắc bệnh hiểm nghèo</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>ĐỊA CHỈ</label>
                    <input class="form-control" name="address" placeholder="Số 123 đường ABC phường ... quận ... TP. Hồ Chí Minh" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                    <label>LAT</label>
                    <input class="form-control" name="latitude" placeholder="Nhập vĩ độ" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                    <label>LONG</label>
                    <input class="form-control" name="longitude" placeholder="Nhập kinh độ" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                    <label>MÔ TẢ</label>
                    <textarea class="form-control" placeholder="Nhập nội dung mô tả" name="intro" rows="8"></textarea>
                  </div>
                  <div class="form-group">
                    <label>ĐỀ XUẤT CÔNG VIỆC</label>
                    <textarea class="form-control" placeholder="Nhập công việc đề xuất..." name="work_suggestion" rows="8"></textarea>
                  </div>
                  <div class="form-group">
                    <label>THÔNG TIN LIÊN HỆ</label>
                    <textarea class="form-control" placeholder="Nhập thông tin liên hệ..." name="contact" rows="5"></textarea>
                  </div>
                  
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <input type="submit" name="submit-volunteer" class="btn btn-lg btn-blue-border" value="thêm địa điểm"/>
                </div>
          	  </form>
      		</div>
      	  </div>
      	</section>
  	</div>


	<%- include('partials/footer') %>
	<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<%- include('partials/bottom-script') %>
<script type="text/javascript">
  
</script>
</body>
</html>