<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wabisabi | Thêm bộ câu hỏi trắc nghiệm</title>
	<%- include('partials/head_tag') %>
	<!-- iCheck for checkboxes and radio inputs -->
  	<link rel="stylesheet" href="../../plugins/iCheck/all.css">

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<%- include('partials/menuBar') %>
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Thêm bộ câu hỏi
				<small>Thêm bộ câu hỏi trắc nghiệm kiến thức</small>
			</h1>
			<ol class="breadcrumb">
				<li class="active"><a href="#"><i class="fa fa-question"></i> Thêm bộ câu hỏi</a></li>
			</ol>
		</section>
		<!-- Main content -->
		<% if (action == 'asking') { %>
		<div class="modal askFirst" tabindex="-1" role="dialog" aria-labelledby="changeInfo" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">Chọn số lượng câu hỏi</h3>
					</div>
					<div class="modal-body">
						<!--XEM LẠI CHỖ FORM ACTION-->
						<form action="/them-bo-cau-hoi" method="post">
							<div class="form-group">
								<label>TÊN BỘ CÂU HỎI</label>
								<input type="text" class="form-control" aria-label="nameOfQuiz" name="nameOfQuiz" required>
							</div>
							<div class="form-group">
								<label>TỔNG SỐ CÂU HỎI</label>
								<input type="number" class="form-control" aria-label="numberOfQuestion" name="numberOfQuestion" required>
							</div>
							<div class="form-group">
								<label>HỎI NGẪU NHIÊN</label>
								<input type="checkbox" name="isRandom" class="minimal">
							</div>
							<div class="form-group">
								<label>THỜI GIAN BẮT ĐẦU</label>
								<div class="row">
									<div class="col-md-4">
										<div class="input-group bootstrap-timepicker">
											<input name="StartTime" class="form-control timepicker" required>
											<div class="input-group-addon">
												<i class="fa fa-clock-o"></i>
											</div>
										</div>
									</div>
									<div class="col-md-8">
										<div class="input-group">
											<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
											</div>
											<input class="form-control" name="StartDay" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask required>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>THỜI GIAN KẾT THÚC</label>
								<div class="row">
									<div class="col-md-4">
										<div class="input-group bootstrap-timepicker">
											<input name="EndTime" class="form-control timepicker" required>
											<div class="input-group-addon">
												<i class="fa fa-clock-o"></i>
											</div>
										</div>
									</div>
									<div class="col-md-8">
										<div class="input-group">
											<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
											</div>
											<input class="form-control" name="EndDay" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask required>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label>THỜI GIAN TRẢ LỜI</label>
								<input type="number" class="form-control" aria-label="QuizTime" name="QuizTime" required>
							</div>
							<div class="form-group">
								<label>ĐIỂM CHO MỖI CÂU HỎI</label>
								<input type="number" class="form-control" aria-label="PointOfQuestion" name="PointOfQuestion" required>
							</div>


							<div class="modal-footer">
								<button type="submit" name="loailenh" value="submitInfoQuiz" class="btn btn-primary" >Xác nhận</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script defer>
		//Chọn số lượng câu hỏi trước
			$(function (){
				$(this).focus();
				$(this).select();
				$(".askFirst").show(1000);
			});
		</script>

		<script>
		//Xác nhận số lượng câu hỏi
			$(function(){
				$(this).focus();
				$(this).select();
				$("#submit").click(function(){
					$(".askFirst").fadeOut(1000);
					$("#tableOfQuestion").show();
				});
			});
		</script>
		<% } %>

		<section class="content">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<div class="box box-info quiz">
						<div class="box-header">
							<h3 class="box-title">Thêm câu hỏi</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							</div>
						</div>
						<% if (action != 'null') { %>
						<div class="box-body" id="tableOfQuestion">
							<form action="/them-bo-cau-hoi" method="post" role="form" class="form-horizontal">
								<div class="box-body">
									<% for(var i = 0; i < action; i++) { %>
									  <h3>Câu hỏi thứ <%= i + 1 %></h3>
									  <div class="row form-group">
									    <label class="col-sm-2 control-label">Nhập câu hỏi</label>
									    <div class="col-sm-10 input-group">
									      <input type="text" class="form-control" name="<%= Question[i] %>" placeholder="Nhập câu hỏi">
									    </div>
									  </div>

									  <div class="row form-group">
									    <label class="col-sm-2 control-label">Nhập câu trả lời 1</label>
									    <div class="col-sm-10 input-group">
									      <span class="input-group-addon">
									        <input type="checkbox" name="<%= isAnswer[i*4 + 0] %>" class="minimal">
									      </span>
									      <input type="text" class="form-control" name="<%= Answer[i*4 + 0] %>"  placeholder="Nhập câu trả lời 1">
									    </div>
									  </div>
									  <div class="row form-group">
									    <label class="col-sm-2 control-label">Nhập câu trả lời 2</label>
									    <div class="col-sm-10 input-group">
									      <span class="input-group-addon">
									        <input type="checkbox" name="<%= isAnswer[i*4 + 1] %>" class="minimal">
									      </span>
									      <input type="text" class="form-control" name="<%= Answer[i*4 + 1] %>" placeholder="Nhập câu trả lời 2">
									    </div>
									  </div>
									  <div class="row form-group">
									    <label class="col-sm-2 control-label">Nhập câu trả lời 3</label>
									    <div class="col-sm-10 input-group">
									      <span class="input-group-addon">
									        <input type="checkbox" name="<%= isAnswer[i*4 + 2] %>" class="minimal">
									      </span>
									      <input type="text" class="form-control" name="<%= Answer[i*4 + 2] %>" placeholder="Nhập câu trả lời 3">
									    </div>
									  </div>
									  <div class="row form-group">
									    <label class="col-sm-2 control-label">Nhập câu trả lời 4</label>
									    <div class="col-sm-10 input-group">
									      <span class="input-group-addon">
									        <input type="checkbox" name="<%= isAnswer[i*4 + 3] %>" class="minimal">
									      </span>
									      <input type="text" class="form-control" name="<%= Answer[i*4 + 3] %>" placeholder="Nhập câu trả lời 4">
									    </div>
									  </div>
									<% } %>

								</div>
								<div style="visibility: collapse">
		              <label>ID</label>
		              <input type="text" class="form-control" value="<%= Quiz_ID %>" aria-label="AlterName" name="id">
		            </div>
								<div class="box-footer">
									<input type="submit" name="loailenh" value="submitQuiz" class="btn btn-lg btn-blue-border" value="Gửi"/>
								</div>
							</form>
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</section>
	</div>
<%- include('partials/footer.ejs') %>
</div>
<%- include('partials/bottom-script') %>
<!-- iCheck 1.0.1 -->
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript">
	//Flat red color scheme for iCheck
    // $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
    //   checkboxClass: 'icheckbox_flat-green',
    //   radioClass   : 'iradio_flat-green'
    // })\
    $("#addQuiz").click(function(){
        $(".quiz").append('');
    });
</script>


</body>
</html>
