<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wabisabi - Thêm trường học</title>
	<%- include('partials/head_tag') %>
</head>
<body class="before-login">
<div class="my-modal" id="login-modal" role="dialog">
	<div class="modals-dialog">
		<div class="loginmodal-container">
			<div class="createAccount-form">
				<div class="text-center mb30"><img src="/images/logo_ChatBot.png" alt=""></div>
				<div class="panel panel-default mb30">
					<form action="/them-tai-khoan/truong" method="post">
						<% if (user.role === 1) { %>
							<div class="panel-header text-center">TRANG THÊM TÀI KHOẢN DÀNH CHO ADMINISTRATOR</div>
						<% } %>
						<% if (user.role != 1) { %>
							<div class="panel-header text-center">TRANG THÊM TÀI KHOẢN DÀNH CHO QUẢN TRỊ VIÊN</div>
						<% } %>
						<div class="panel-body row">
							<% if (typeof(msg_err) != 'undefined') { %>
								<div class="col-xs-12 mb20 mt20 alert alert-danger">
										<strong>Danger!</strong> <%= msg_err %>
								</div>
							<% } %>
							<% if (typeof(msg_suc) != 'undefined') { %>
								<div class="col-xs-12 mb20 mt20 alert alert-success">
										<strong>Success!</strong> <%= msg_suc %>
								</div>
							<% } %>
							<div class="col-md-12 mb20">
								<label class="title">Tên đăng nhập</label>
								<input type="text" name="schoolID" class="form-control input-lg" placeholder="Nhập tên đăng nhập...">
							</div>
							<div class="col-md-12 mb20">
								<label class="title">Email</label>
								<input type="text" name="email" class="form-control input-lg" placeholder="Nhập địa chỉ Email...">
							</div>
							<div class="col-md-12 mb20">
								<label class="title">Tên đơn vị hoặc tên người quản lý</label>
								<input type="text" name="schoolName" class="form-control input-lg" placeholder="Nhập tên trường...">
							</div>
							<% if (user.role != 1) { %>
								<div class="col-md-12 mb20">
									<label class="title">Trực thuộc</label>
									<input type="text" class="form-control input-lg" value="<%= user.username %>" disabled>
								</div>
							<% } %>
							<div class="col-md-12 mb20">
								<label class="title">Cấp quản lý</label>
								<div class="customSelect lg">
									<select name="role" class="form-control input-lg">
										<% if (user.role == 1) { %>
											<option value="2">Lập trình viên</option>
											<option value="3">Cấp trường</option>
										<% } %>
										<% if (user.role == 2) { %>
											<option value="3">Cấp trường</option>
										<% } %>
										<% if (user.role == 3) { %>
											<option value="4">Cấp khoa</option>
										<% } %>
									</select>
								</div>
							</div>
							<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2" style="margin-botton: 20px;">
								<input type="submit" name="addSchool" class="btn btn-blue btn-block btn-lg" value="THÊM TÀI KHOẢN">
							</div>

						</div>
						<div class="panel-footer" style="padding-top: 0px;">
							<hr class="mt20 mb10">
							<a href="/" class="gray-color"><small>Quay về trang chủ</small></a></br>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
