<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wabisabi | Liên hệ</title>
	<%- include('partials/head_tag') %>
	<!-- iCheck for checkboxes and radio inputs -->
  	<link rel="stylesheet" href="../../plugins/iCheck/all.css">

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<%- include('partials/menuBar') %>
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Thêm bộ câu hỏi
				<small>Thêm bộ câu hỏi trắc nghiệm kiến thức</small>
			</h1>
			<ol class="breadcrumb">
				<li class="active"><a href="#"><i class="fa fa-question"></i> Thêm bộ câu hỏi</a></li>
			</ol>
		</section>
		<!-- Main content -->
		<div class="modal askFirst" tabindex="-1" role="dialog" aria-labelledby="changeInfo" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">Chọn số lượng câu hỏi</h3>
					</div>
					<div class="modal-body">
						<!--XEM LẠI CHỖ FORM ACTION-->
						<div class="form-group">
							<label>Tổng số câu hỏi</label>
							<input type="number" class="form-control" aria-label="username" name="username" value="" required>
						</div>
						<div class="modal-footer">
							<button id="submit" class="btn btn-primary" >Xác nhận</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="content">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<div class="box box-info quiz">
						<div class="box-header">
							<h3 class="box-title">Thêm câu hỏi</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							</div>
						</div>
						<div class="box-body" id="tableOfQuestion" hidden>
							<form action="" method="post" role="form" class="form-horizontal">


								<div class="box-body">
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
									<%- include('partials/quiz') %>
								</div>
								<div class="box-footer">
									<input type="submit" name="" class="btn btn-lg btn-blue-border" value="Gửi"/>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
<%- include('partials/footer.ejs') %>
</div>
<%- include('partials/bottom-script') %>
<!-- iCheck 1.0.1 -->
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript">
	//Flat red color scheme for iCheck
    // $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
    //   checkboxClass: 'icheckbox_flat-green',
    //   radioClass   : 'iradio_flat-green'
    // })\
    $("#addQuiz").click(function(){
        $(".quiz").append('');
    });
</script>
<script defer>
//Chọn số lượng câu hỏi trước
	$(function (){
		$(this).focus();
		$(this).select();
		$(".askFirst").show(1000);
	});
</script>

<script>
//Xác nhận số lượng câu hỏi
	$(function(){
		$(this).focus();
		$(this).select();
		$("#submit").click(function(){
			$(".askFirst").fadeOut(1000);
			$("#tableOfQuestion").show();
		});
	});


</script>

</body>
</html>
