
<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head_tag') %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


  <!-- Left side column. contains the logo and sidebar -->
  <%- include('./partials/menuBar') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Thông tin bộ câu hỏi trắc nghiệm
        <small>quản lý các phần</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Quản lý tài khoản</a></li>
        <li class="active">Thông tin chung</li>

      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="/images/logo_ChatBot.png" alt="User profile picture">

              <h3 class="profile-username text-center"><%= donvi %></h3>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin về hoạt động</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <strong><i class="fa fa-map-marker margin-r-5"></i> Tên bộ câu hỏi trắc nghiệm</strong>

              <p class="text-muted"><%= info.NameOfQuiz %></p>


              <strong><i class="fa fa-book margin-r-5"></i> Tổng số người đã trả lời</strong>

              <p class="text-muted">
                <% if(info.NumberOfAnswers > 0) {%>
                  <%= info.NumberOfAnswers %>
                <% } else { %>
                  0
                <% } %>
              </p>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Ngày bắt đầu</strong>

              <% dateTime = new Date(info.StartTimeQuiz) %>
              <p class="text-muted"><%= dateTime.getHours() %>:<%= dateTime.getMinutes() %> ngày <%= dateTime.getDate() %>/<%= dateTime.getMonth() + 1 %>/<%= dateTime.getFullYear() %></p>
              <strong><i class="fa fa-map-marker margin-r-5"></i> Ngày kết thúc</strong>

              <% dateTime = new Date(info.EndTimeQuiz) %>
              <p class="text-muted"><%= dateTime.getHours() %>:<%= dateTime.getMinutes() %> ngày <%= dateTime.getDate() %>/<%= dateTime.getMonth() + 1 %>/<%= dateTime.getFullYear() %></p>
              <strong><i class="fa fa-map-marker margin-r-5"></i> Thời gian trả lời</strong>

              <p class="text-muted"><%= info.QuizTime %> (phút)</p>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Số lượng câu hỏi</strong>

              <p class="text-muted"><%= info.numberOfQuestion %></p>


            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">

              <% if(tab == 'mainQuiz') {%>
                <li class="active"><a href="#account-infomation" data-toggle="tab">Thông tin chung</a></li>
              <% } else {%>
                <li ><a href="#account-infomation" data-toggle="tab">Thông tin chung</a></li>
              <% } %>

            </ul>

            <div class="tab-content">
              <% if(tab == 'mainQuiz') {%>
                <div class="active tab-pane" id="account-infomation">
                  <!-- form start -->
                    <%- include('./editQuiz/detail') %>
                  <!-- form end -->
                </div>
                <% } else {%>
                  <div class="tab-pane" id="account-infomation">
                    <!-- form start -->
                      <%- include('./editQuiz/detail') %>
                    <!-- form end -->
                  </div>
              <% } %>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
      </div>
    </section>
    <!-- /.content -->  

  </div>
  <!-- /.content-wrapper -->

  	<%- include('./partials/footer') %>
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<%- include('./partials/bottom-script') %>
<!-- iCheck 1.0.1 -->
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript">
	//Flat red color scheme for iCheck
    // $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
    //   checkboxClass: 'icheckbox_flat-green',
    //   radioClass   : 'iradio_flat-green'
    // })\
    $("#addQuiz").click(function(){
        $(".quiz").append('');
    });
</script>
</body>
</html>
