<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head_tag') %>
    <script src="/js/socket.io.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <%- include('partials/menuBar') %>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                <%= title %>
                <% if (typeof smallTitle !== 'undefined' && smallTitle) { %>
                <small>
                    <% smallTitle %>
                </small>
                <% } %>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
                <li class="active"><%= title %></li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box js">
                        <div class="box-header">
                            <h3 class="box-title"><%= boxTitle %></h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form class="box-upload has-advanced-upload" method="post" action="" enctype="multipart/form-data">
                                <div class="mb20">
                                    <input type="text" name="appname" class="form-control input-lg" placeholder="Nhập tên phần mềm..." required>
                                </div>
                                <div class="mb20">
                                    <input type="text" name="version" class="form-control input-lg" placeholder="Nhập số phiên bản..." required>
                                </div>
                                <div class="box__input clearfix">
                                    <svg class="box__icon" width="50" height="43" viewBox="0 0 50 43">
                                        <path d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z"></path>
                                    </svg>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"></div>
                                    </div>
                                    <input class="box__file" type="file" name="files[]" id="file"
                                           data-multiple-caption="{count} files selected" multiple/>
                                    <label for="file">
                                        <strong>Choose a file</strong>
                                        <span class="box__dragndrop"> or drag it here</span>.
                                    </label>
                                    <button class="box__button" type="submit">Upload</button>
                                </div>
                                <div class="box__uploading">Uploading&hellip;</div>
                                <div id="box__msg"></div>
                            </form>
                        </div>
                        <script>
                            'use strict';
                            var socket = io.connect(window.location.origin);

                            ;( function ( document, window, index ) {
                                function statusUploading(status) {
                                    $('.box__uploading').css('display', 'none')
                                    if (status === 'uploading'){
                                        $('.box__uploading').css('display', 'block')
                                    }
                                }

                                socket.on('uploadFile', msg=>{
                                    statusUploading('')
                                    $('#box__msg').text(msg)
                                })
                                var isAdvancedUpload = function() {
                                    var div = document.createElement( 'div' );
                                    return ( ( 'draggable' in div ) || ( 'ondragstart' in div && 'ondrop' in div ) ) && 'FormData' in window && 'FileReader' in window;
                                }();

                                var forms = document.querySelectorAll( '.box-upload' );
                                Array.prototype.forEach.call( forms, ( form )=> {
                                    var input		 = form.querySelector( 'input[type="file"]' ),
                                        label		 = form.querySelector( 'label' ),
                                        droppedFiles = false,
                                        showFiles	 = ( files )=> {
                                            label.textContent = files.length > 1 ? ( input.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', files.length ) : files[ 0 ].name;
                                        }


                                    input.addEventListener( 'change', ( e )=>{
                                        showFiles( e.target.files )
                                    })

                                    if( isAdvancedUpload ) {
                                        form.classList.add( 'has-advanced-upload' ); // letting the CSS part to know drag&drop is supported by the browser

                                        [ 'drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop' ].forEach( ( event )=>{
                                            form.addEventListener( event, ( e ) => {
                                                e.preventDefault();
                                                e.stopPropagation();
                                            })
                                        });
                                        [ 'dragover', 'dragenter' ].forEach( ( event ) => {
                                            form.addEventListener( event, () => {
                                                form.classList.add( 'is-dragover' )
                                            })
                                        });
                                        [ 'dragleave', 'dragend', 'drop' ].forEach( ( event )=> {
                                            form.addEventListener( event, ()=>{
                                                form.classList.remove( 'is-dragover' );
                                            })
                                        });
                                        form.addEventListener( 'drop', ( e ) =>{
                                            droppedFiles = e.dataTransfer.files; // the files that were dropped
                                            showFiles( droppedFiles );

                                        });
                                    }

                                    form.addEventListener( 'submit', ( e ) =>{
                                        $('.progress').css('display', 'block')
                                        $('.progress-bar').text('0%');
                                        $('.progress-bar').width('0%');

                                        if( form.classList.contains( 'is-uploading' ) ) return false;

                                        statusUploading('uploading')

                                        if( isAdvancedUpload ) // ajax file upload for modern browsers
                                        {
                                            e.preventDefault();

                                            var ajaxData = new FormData( form );
                                            if( droppedFiles )
                                            {
                                                Array.prototype.forEach.call( droppedFiles, ( file ) => {
                                                    ajaxData.append( input.getAttribute( 'name' ), file );
                                                });
                                            }

                                            var ajax = new XMLHttpRequest();

                                            ajax.upload.onprogress = (evt)=>{
                                                if (evt.lengthComputable){
                                                    var percentComplete = evt.loaded / evt.total;
                                                    percentComplete = parseInt(percentComplete * 100);
                                                    $('.progress-bar').text(`Uploaded ${percentComplete}%`);
                                                    $('.progress-bar').width(percentComplete + '%');
                                                }
                                            }

                                            ajax.open( form.getAttribute( 'method' ), form.getAttribute( 'action' ), true );

                                            ajax.onload = ()=>{
                                                statusUploading('')
                                                if( ajax.status >= 200 && ajax.status < 400 )
                                                {
                                                    var data = JSON.parse( ajax.responseText );
                                                    if (data.success) {
                                                        // location.reload()
                                                    }
                                                }
                                                else alert( 'Error. Please, contact the webmaster!' );
                                            };

                                            ajax.onerror = ()=>{
                                                alert( 'Error. Please, try again!' );
                                            };

                                            ajax.send( ajaxData );
                                        }
                                    });
                                });
                            }( document, window, 0 ));
                        </script>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <%- include('partials/footer') %>
</div>
<%- include('partials/bottom-script') %>
</body>

</html>
