<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head_tag') %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
	<%- include('partials/menuBar') %>
	<!-- Content Wrapper. Contains page content -->
  	<div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Thêm địa điểm tình nguyện
          <small>khởi tạo địa điểm mới</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active"><a href="#"><i class="fa fa-location-arrow"></i> Thêm địa điểm tình nguyện</a></li>
        </ol>
      </section>
      <!-- Main content -->
  	  <section class="content">
        <div class="row">
					<div class="col-md-12">
					<table id="example1" class="table table-bordered table-striped">
				    <thead>
				      <tr>
				        <th>STT</th>
				        <th>Tên địa điểm tình nguyện</th>
				        <th>Vị trí</th>
				        <th>Tuỳ chọn</th>
				      </tr>
				    </thead>
				    <tbody>

				      <tr>
				        <td class="Stt">1</td>
				        <td>ABC</td>
				        <td>ABC</td>
				        <td class="action">
				          <a href="<!-- '#changeInfo'+i -->" data-toggle="modal" data-target="<!-- '#changeInfo'+i -->" class="touch-link"><i class="fa fa-align-justify" aria-hidden="true"></i></a>
				          <a href="<!-- '#delete'+i -->" data-toggle="modal" data-target="<!-- '#delete'+i -->" class="touch-link"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
				        </td>
				      </tr>

				    </tbody>
				  </table>
					<button type="button" data-toggle="modal" data-target="#addNewLocation" class="btn btn-lg btn-blue-border">Thêm</button>
				</div>
					<!-- Thêm tài khoản -->
				  <div class="modal fade" id="addNewLocation" tabindex="-1" role="dialog" aria-labelledby="addNewLocation" aria-hidden="true">
				    <div class="modal-dialog" role="document">
							<%- include('./addLocation') %>
						</div>
					</div>

					<!-- Thay đổi thông tin-->
					<div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h3 class="modal-title">Thay đổi thông tin</h3>
								</div>
								<div class="modal-body">
				          <form action="/" method="post">
				            <div class="form-group">
				              <label>ID</label>
				              <input type="text" class="form-control" value="" aria-label="AlterName" name="id" readonly>
				            </div>
				            <div class="form-group">
				              <label>Họ và tên</label>
				              <input type="text" class="form-control" value="" aria-label="AlterName" name="alterName">
				            </div>
				            <div class="form-group">
				              <label>Email</label>
				              <input type="email" class="form-control" value="" aria-label="AlterEmail" name="alterEmail">
				            </div>
				            <div class="modal-footer">
				              <button type="submit" name="loailenh" value= "" class="btn btn-primary">Thay đổi</button>
				            </div>
				          </form>
				        </div>
							</div>
						</div>

						</div>
					</div>

					<!-- Xoá địa điểm -->
					<div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h3 class="modal-title" id="">Xoá tài khoản</h3>
								</div>
								<div class="modal-body">
									<!--XEM LẠI CHỖ FORM ACTION-->
									<form action="/" method="post">
										<div class="form-group">
											<label>ID</label>
											<input type="text" class="form-control" value="" aria-label="AlterName" name="id">
										</div>
										<div class="modal-footer">
											<button type="submit" name="loailenh" value= "" class="btn btn-primary">Xoá tài khoản</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

      	</section>
  	</div>


	<%- include('partials/footer') %>
	<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<%- include('partials/bottom-script') %>

</body>
</html>
