<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wabisabi | Quản lý câu hỏi trắc nghiệm</title>
	<%- include('partials/head_tag') %>
	<!-- iCheck for checkboxes and radio inputs -->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<%- include('partials/menuBar') %>
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Quản lý bộ câu hỏi
				<small>Quản lý câu hỏi trắc nghiệm kiến thức</small>
			</h1>
			<ol class="breadcrumb">
				<li class="active"><a href="#"><i class="fa fa-question"></i>Quản lý các câu hỏi</a></li>
			</ol>
		</section>
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<div class="box box-info quiz">
						<div class="box-header">
							<h3 class="box-title">Thêm câu hỏi</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
							</div>
						</div>
						<div class="box-body" id="tableOfQuestion">
              <table id="managerQuiz" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>Tên bộ câu hỏi</th>
                    <th>Ngày bắt đầu</th>
                    <th>Tuỳ chọn</th>
                  </tr>
                </thead>
                <tbody>
                <% for (var i=0; i < info.length; i++) { %>
                  <tr>
                    <td class="Stt"><%= i+1 %></td>
                    <td><%= info[i].NameOfQuiz %></td>
                    <% dateTime = new Date(info[i].StartTimeQuiz) %>
                    <td><%= dateTime.getHours() %>:<%= dateTime.getMinutes() %> ngày <%= dateTime.getDate() %>/<%= dateTime.getMonth() + 1 %>/<%= dateTime.getFullYear() %> </td>
                    <td class="action">
                      <a href="<%= '/quan-ly-cau-hoi/' + randomCode + '/' + info[i].Quiz_ID %>"  class="touch-link"><i class="fa fa-align-justify" aria-hidden="true"></i></a>
                      <a href="<%= '/quan-ly-cau-hoi/delete/'+ randomCode + '/' + info[i].Quiz_ID %>"  class="touch-link"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                <% } %>
                </tbody>
              </table>


						</div>
					</div>
				</div>
			</div>
		</section>



	</div>
<%- include('partials/footer.ejs') %>
</div>
<%- include('partials/bottom-script') %>
<!-- iCheck 1.0.1 -->
<script src="../../plugins/iCheck/icheck.min.js"></script>



</body>
</html>
