
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wabisabi - Quên mật khẩu</title>
	<%- include('partials/head_tag') %>
</head>
<body class="before-login">
	<div class="my-modal" id="login-modal" role="dialog">
		<div class="modals-dialog">
			<div class="loginmodal-container">


        <div class="login-form">
        	<div class="logo text-center mb20"><img src="images/logo_ChatBot.png" alt=""></div>
        	<div class="panel panel-default mb30">
        		<form action="/resetPassword" method="post">
        			<div class="panel-header text-center">Quên mật khẩu</div>
        			<div class="panel-body">
        				<% if (mess != '') {%>
        				<div class="mb20">
        				    <div class="alert alert-success alert-dismissible error_login" hidden>
        				      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        				      <h5><i class="icon fa fa-check"></i> <%= mess %></h5>
        				    </div>
        				</div>
        				<script defer>
        			  	$(function() {
        			  	 $(this).focus();
        			  	 $(this).select();
        			  	 $(".error_login").show().fadeOut(5000);
        			  	});
        			  </script>
        				<% } %>
        				<div class="mb20">
        					<label class="title">Nhập tài khoản đăng nhập</label>
        					<input type="text" name="uid" class="form-control input-lg" placeholder="Tên đăng nhập của bạn..." required>
        				</div>
        				<div class="row mt30">
        					<div class="col-xs-10 col-xs-offset-1">
        						<input type="submit" name="submit" class="btn btn-blue btn-block btn-lg" value="Xác nhận">
        					</div>
        				</div>
        			</div>
        			<div class="panel-footer">
        				<hr class="mt20 mb10">
        				<a href="/login" class="gray-color"><small>Đăng nhập</small></a><br>
        				<a href="/" class="gray-color"><small>Quay về trang chủ</small></a>
        			</div>
        		</form>
        	</div>
        </div>



			</div>
		</div>
	</div>
</body>
</html>
