<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/head_tag') %>
	
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
	<%- include('partials/menuBar') %>
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Gửi đến chatbot
				<small>gửi tin nhắn mới</small>
			</h1>
			<ol class="breadcrumb">
				<li class="active"><a href="#"><i class="fa fa-calendar-plus-o"></i> Gửi tin nhắn</a></li>
			</ol>
		</section>
		<!-- Main content -->
		<section class="content">
		<div class="row">
			<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Gửi tin nhắn</h3>
				</div>
					<!-- /.box-header -->
					<!-- form start -->
				<form action="/chatbot/gui-tin-nhan" method="post" role="form">
					<div class="box-body">
						<div class="form-group">
							<label>TIÊU ĐỀ</label>
							<input class="form-control" name="title_message" placeholder="Nhập tiêu đề tin nhắn" autocomplete="on" required>
						</div>
						<div class="form-group">
							<label>NỘI DUNG</label>
							<textarea class="form-control" name="Actitvity_Content" placeholder="Nhập nội dung tin nhắn, nội dung không quá 500 ký tự." autocomplete="off" rows="8" maxlength="500" required></textarea>
						</div>
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<input type="submit" name="submit-activity" class="btn btn-lg btn-blue-border" value="Gửi"/>
					</div>
				</form>
			</div>
		</div>
		</section>
	</div>


	<%- include('partials/footer') %>
	<!-- Add the sidebar's background. This div must be placed
		 immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>
</div>
<%- include('partials/bottom-script') %>

</body>
</html>
