<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head_tag') %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <%- include('partials/menuBar') %>
    <div class="content-wrapper">
      <section class="content-header">
        <h1>
          <%= title %>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
          <li class="active"><%= title %></li>
        </ol>
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <h3 class="box-title"><%= title %></h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                        <th width="20px">STT</th>
                        <th>Đơn vị</th>
                        <th width="30px">Tùy chọn</th>
                    </tr>
                </thead>
                  <tbody>
                  <% for (var i=0; i < result.length; i++) { %>
                  <tr>
                    <td class="Stt"><%= i+1 %></td>
                    <td><%= result[i].locationName %></td>
                    <td class="action">
                      <a href= <%= "#ModalVolunteerPosition" + i %> data-toggle="modal" class="touch-link"><i class="fa fa-telegram text-aqua"></i></a>
                    </td>
                  </tr>
                  <% } %>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
          <div class="pl15">
            <a href="/dia-diem-tinh-nguyen/them" class="btn btn-lg btn-blue-border">THÊM ĐIỂM TÌNH NGUYỆN</a>
          </div>
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
      <% for (var i=0; i < result.length; i++) { %>
        <div class="modal fade in" tabindex="-1" role="dialog" id=<%= "ModalVolunteerPosition" + i %> >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              THÔNG TIN CHI TIẾT
              </div>
              <form action="/dia-diem-tinh-nguyen" method="post" role="form">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-6 mb20">
                      <label class="title">TÊN</label>
                      <input name="locationName" type="text" class="form-control input-lg" value="<%= result[i].locationName %>" maxlength="500" readonly>
                    </div>
                    <div class="col-sm-6 mb20">
                      <label class="title">ĐỊA ĐIỂM</label>
                      <input name="address" type="text" class="form-control input-lg" value="<%= result[i].locationDetail.address %>" maxlength="500">
                    </div>
                    <div class="col-sm-6 mb20">
                      <label class="title">VĨ ĐỘ - LATITUDE</label>
                      <input name="latitude" type="text" class="form-control input-lg" value="<%= result[i].locationDetail.latitude %>">
                    </div>
                    <div class="col-sm-6 mb20">
                      <label class="title">KINH ĐỘ - LONGITUDE</label>
                      <input name="longitude" type="text" class="form-control input-lg" value="<%= result[i].locationDetail.longitude %>">
                    </div>
                    <div class="col-sm-12 col-md-12 mb20">
                      <label class="title">LOẠI ĐỊA ĐIỂM</label>
                      <div class="checkbox">
                        <label><input type="checkbox" name="children"
                          <% if (result[i].tag.children === true) { %>
                            checked
                          <% } %>
                          >Trẻ em</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" name="elderly"
                          <% if (result[i].tag.elderly === true) { %>
                            checked
                          <% } %>
                          >Người già</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" name="homeless"
                          <% if (result[i].tag.homeless === true) { %>
                            checked
                          <% } %>
                          >Người vô gia cư</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" name="disability"
                          <% if (result[i].tag.disability === true) { %>
                            checked
                          <% } %>
                          >Người khuyết tật</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" name="diseases"
                          <% if (result[i].tag.diseases === true) { %>
                            checked
                          <% } %>
                          >Người mắc bệnh hiểm nghèo</label>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12 mb20">
                      <label class="title">GIỚI THIỆU</label>
                      <input name="intro" type="text" class="form-control input-lg" maxlength="500" value="<%= result[i].intro %>">
                    </div>
                    <div class="col-sm-12 col-md-12 mb20">
                      <label class="title">HOẠT ĐỘNG ĐƯỢC ĐỀ XUẤT</label>
                      <textarea name="work_suggestion" type="text" class="form-control input-lg" rows="8" maxlength="500"><%= result[i].work_suggestion %></textarea>
                    </div>
                    <div class="col-sm-12 col-md-12 mb20">
                      <label class="title">THÔNG TIN LIÊN HỆ</label>
                      <textarea name="contact" type="text" class="form-control input-lg" rows="4" value="<%= result[i].contact %>" maxlength="500"><%= result[i].contact %></textarea>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <div class="row">
                  <div class="col-sm-6 col-xs-6">
                    
                  </div>
                  <div class="col-sm-6 col-xs-6">
                    <div class="col-md-3 col-md-offset-6">
                      <input type="submit" name="submit-activity" class="btn btn-block btn-info btn-lg" value="Gửi"/>
                    </div>
                    <div class="col-md-3">
                      <button type="button" class="btn btn-block btn-danger btn-lg" data-dismiss="modal">Đóng</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          </div>
        </div>
        <% } %>
      </div> <!-- end content-wrapper -->

  <%- include('partials/footer') %>
</div>
<%- include('partials/bottom-script') %>
</body>

</html>
