<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wabisabi | Thống kê hoạt động</title>
	<%- include('partials/head_tag') %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
	<%- include('partials/menuBar') %>
	<!-- Content Wrapper. Contains page content -->
  	<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
          Thống kê
        <small>hiển thị tất cả các hoạt động</small>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-pie-chart"></i> Thống kê</a></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
		    <div class="box-header">
              <h3 class="box-title">Thống kê hoạt động</h3>
            </div>
			  <div class="box-body">
	            <table id="statistic" class="table table-bordered table-striped">
	              <thead>
	                <tr>
	                  <th>Tên hoạt động</th>
	                  <th>Thời gian diễn ra</th>
	                  <th>Địa điểm</th>
	                  <th class="min-w300">Nội dung</th>
	                  <th>Kế hoạch</th>
	                </tr>
	              </thead>
	              <tbody>
	                <% if (!ActivityNull) { %>
						<% for (var i=0; i < ActivityEnable.length; i++) { %>
						<tr>
							<td><%= ActivityEnable[i].activity_name %></td>
							<td><%= ActivityEnable[i].dateToShow %></td>
							<td><%= ActivityEnable[i].position %></td>
							<td><%= ActivityEnable[i].introduction %></td>
							<td class="action"><a href="<%= ActivityEnable[i].linkDetail %>" target="_blank"><i class="fa fa-telegram text-aqua"></i></a></td>
						</tr>
						<% } %>
						<% for (var i=0; i < ActivityDisable.length; i++) { %>
						<tr class="activityDisable">
							<td><%= ActivityDisable[i].activity_name %></td>
							<td><%= ActivityDisable[i].dateToShow %></td>
							<td><%= ActivityDisable[i].position %></td>
							<td><%= ActivityDisable[i].introduction %></td>
							<td class="action"><a href="<%= ActivityDisable[i].linkDetail %>" target="_blank"><i class="fa fa-telegram text-aqua"></i></a></td>
						</tr>
						<% } %>
					<% } else { %>
						<tr class="activityDisable">
							<td>Chưa có dữ liệu</td>
							<td>Chưa có dữ liệu</td>
							<td>Chưa có dữ liệu</td>
							<td>Chưa có dữ liệu</td>
							<td>Chưa có dữ liệu</td>
						</tr>
					<% } %>
	              </tbody>
	            </table>
			  </div>
	          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
	<%- include('partials/footer') %>
	<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<%- include('partials/bottom-script') %>
</body>
