
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wabisabi | <%= title %></title>
	<%- include('partials/head_tag') %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
	<%- include('partials/menuBar') %>
	<!-- Content Wrapper. Contains page content -->
  	<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="message-flash">
	  <div class="alert alert-success alert-dismissible copied" hidden>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<h5><i class="icon fa fa-check"></i> Đã sao chép mã vào bộ nhớ tạm!</h5>
	  </div>
    </div>

    <section class="content-header">
      <h1>
          <%= title %>
          <% if (typeof smallTitle !== 'undefined' && smallTitle) { %>
		  <small>
              <% smallTitle %>
		  </small>
          <% } %>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-barcode"></i> Danh sách mã</a></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
		    <div class="box-header">
              <h3 class="box-title"><%= boxTitle %></h3>
            </div>
			  <div class="box-body">
	            <table id="show_list_code" class="table table-bordered">
	              <thead>
	                <tr>
						<% for (let i=0; i<titleCol.length; i++){ %>
							<th><%= titleCol[i] %></th>
						<% } %>
	                </tr>
	              </thead>
	              <tbody>

						<% for (var i= 0; i<result.length; i++) { %>
						<tr>
							<td><%= i+1 %></td>
							<td><%= result[i].appname %></td>
							<td><%= result[i].version %></td>
						</tr>
						<% } %>
	              </tbody>
	            </table>
			  </div>
	          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include('partials/footer.ejs') %>
</div>
<%- include('partials/bottom-script') %>
<script defer>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();
	});
	$(function() {
	 $('.copy-to-clipboard input').click(function() {
	 $(this).focus();
	 $(this).select();
	 document.execCommand('copy');
	 $(".copied").show().fadeOut(5000);
	 });
	});
</script>
</body>
</html>
