
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600');
* {
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
}
body {
	font-family: 'Source Sans Pro',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
body.before-login {
	background: url(../images/background_login.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.navbar-dark {
	font-weight: 500;
    /*background-color: #2a8fcf;*/
	background-color: #29aff4;
    border: 0;
    border-radius: 0;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1) !important;
}
.navbar-brand {
	float: left;
	height: 50px;
	padding: 5px 15px;
	font-size: 18px;
	line-height: 20px;
}
.text_navbar {
	color: #fff;
}

#wabisabi_logo {
	height: 40px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: #2b7db1;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #2b7db1;
}

.container-fluid {
	padding-right: 100px;
	padding-left: 100px;
}

.page_name{
	padding-top: 70px;
	font-size: 36px;
	font-weight: 300;
	line-height: 45px;
	text-align: center;
}

.form_activity {
	padding-top: 80px;
}

.table_area {
	padding-top: 80px;
}
.login-form {
    max-width: 360px;
    margin: 50px auto;
}

.panel {
  box-shadow: #eee 0 2px 0 0;
  border: 1px solid #eee; 
}
.mb30 {
    margin-bottom: 30px;
}
.mb20 {
    margin-bottom: 20px;
}

.panel .panel-header {
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: none;
    padding: 20px 30px;
}
.panel .panel-footer {
	background-color: white;
	border: none;
	padding: 20px 30px 30px;
}
.panel .panel-body {
	padding: 0 30px;
}
.panel.only-body .panel-body {
	padding: 20px 30px;
}
label.title {
    font-size: 12px;
    font-weight: bold;
    color: #9B9B9B;
}
/*Because conflict with template so commented*/
/*input[type=text], input[type=password], input[type=email], textarea {
    color: black;
    border-radius: 3px;
    background-color: #f8f8f8;
    border: 2px solid #f8f8f8;
    -webkit-appearance: none;
}*/
.form-control {
    transition: none;
}
.mr5 {
    margin-right: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mt18 {
    margin-top: 18px;
}
.mt20 {
    margin-top: 20px;
}
.mt26{
    margin-top: 26px;
}
.mt30 {
    margin-top: 30px;
}
.mt70{
    margin-top: 70px;
}
.pl15{
    padding-left: 15px;
}
.btn.btn-lg {
    font-size: 16px;
}
.btn-blue, a.btn-blue {
    background-color: #3DA9F8;
    color: white;
    border-radius: 3px;
    padding: 12px 25px;
}
.panel .panel-footer {
    background-color: white;
    border: none;
    padding: 20px 30px 30px;
}
.gray-color {
    color: #9B9B9B;
}
body.before-login .powered-by {
    font-size: 10px;
    width: 100%;
    text-align: center;
    color: #6696ce;
}
.banner-mobile img {
    display: none;
}
.carousel-inner>.item>img {
    display: inline !important;
}
.use-service {
    margin-top: 7.5rem;
    margin-bottom: 20.5rem;
}
.btn-use-service, .btn-use-service:visited {
    font-size: 20px;
    font-weight: bold;
    color: #2a8fcf;
    border: 2px solid #2a8fcf;
    padding: 1rem 4rem;
}
.btn-use-service:hover {
    background-color: #2a8fcf;
    color: #ffffff;
}
.featured {
    background-color: #fafafa;
    padding-top: 5rem;
    padding-bottom: 8rem;
}
.about-featured {
    margin-top: 6rem;
}
.my-contacts {
    padding-top: 2rem;
    padding-bottom: 7rem;
}
.about-featured-title {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.4;
    font-size: 30px;
    font-weight: 300;
}
.about-box {
    margin-top: 4rem;
    padding: 1rem;
}
.about-box > img {
    max-width: 80px;
    margin-bottom: 1.5rem;
}
.about-poforlio {
    margin-top: 3rem;
    padding-top: 5rem;
    margin-bottom: 3rem;
}
.about-img > img {
    max-width: 20rem;
    border-radius: 10px;
}
.gold-medal-img {
    position: absolute;
    top: 0;
    left: 30px;
    width: 40px;
}
.about-info {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #030303;
}
.about-info h3 {
    font-size: 22px !important;
}
.about-info-quote {
    font-size: 14px;
}
.about-info-school {
    color: #3ab9e8;
}
.view-profile {
    margin-bottom: 1rem;
}
.about-contact {
    background-color: #149cce;
    color: #ffffff;
    padding: 3rem;
}
.customer-contact > h4 {
    margin-left: 2rem;
}
.customer-contact-form {
    padding: 2rem;
}
#customer-submit {
    width: 250px;
}
.footer {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    padding: 2rem;
}


/*Viết Hưng*/
.contact-form {
    width: 100%;
    background: url(../images/bg-contact.jpg) no-repeat;
    background-position: bottom center;
    padding: 40px 0;
}
.big-title {
    padding-top: 10px;
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    color: black;
    text-align: center; }

.text-white {
  color: #fff; }
.text-contact{
  color: #fff;
  font-size: 18px;
  line-height: 23px;
}
.form-size{
  max-width: 400px;
  margin: auto;
}
.text-contact{
  color: #fff;
  font-size: 18px;
  line-height: 23px;
}
form.dark-theme label.title {
  color: white !important; }
form.dark-theme input[type=text], form.dark-theme input[type=password], form.dark-theme input[type=email], form.dark-theme textarea {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  background-color: transparent !important;
  box-shadow: none !important; }
form.dark-theme input::placeholder {
  color: rgba(255, 255, 255, 0.3) !important; }

.btn {
  border-radius: 8px; 
}
.btn.btn-lg {
    font-size: 14px;
    font-weight: bold;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.btn-white-border, a.btn-white-border {
    background-color: transparent !important;
    color: white !important;
    border: 2px solid white !important;
    border-radius: 8px;
    padding: 9px 25px;
    text-transform: uppercase !important;
}

.min-w150 {
  min-width: 150px; 
}
.min-w300 {
  min-width: 300px; 
}
.checkbox {
    margin-top: 0;
}
.form-activity-size{
  max-width: 90%;
  margin: auto;
}
.btn-orange-border, a.btn-orange-border {
    background-color: #FF8903 !important;
    color: white !important;
    text-transform: uppercase !important;
    border-radius: 8px;
    border: 2px solid #FF8903 !important;
    padding: 9px 25px;
}
.btn-blue-border, a.btn-blue-border {
    background-color: #2a8fcf !important;
    color: white !important;
    text-transform: uppercase !important;
    border-radius: 8px;
    border: 2px solid #2a8fcf !important;
    padding: 9px 25px;
}
.mb50 {
    margin-bottom: 50px;
}
/*===STYLE FOR ACTIVITIES PAGE*/
.nav-activity {
    margin-top: 10rem;
    text-transform: uppercase;
    font-weight: bold;
}
.page_name_activity {
    padding-top: 2rem;
    margin-bottom: 2rem;
	font-size: 36px;
	font-weight: 300;
	line-height: 45px;
	text-align: center;
}

.table-bordered thead {
    text-transform: uppercase;
}
.btn-detail:after{
    content: "Chi tiết";
}

.activityDisable {
    background-color: #ececec !important;
}

.dropdown-menu-right {
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 10 !important;
}

.the-menu-right {
    top: 50px;
    right: 0;
    left: auto;
    border-radius: 3px !important;
    border: none !important;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.the-menu-left {
    top: 50px;
    border-radius: 3px !important;
    border: none !important;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.the-menu-left:hover, .the-menu-left a:hover {
    border: 1px solid #29aff4;
    background-color: #29aff4;
    color: white;
}

.dropdown-menu-right a{
    color: black;
}

.dropdown-menu-right a:hover{
    text-decoration: none;
}

.login-form img{
    height: 150px;
}

a.touch-link, a:active.touch-link, a:focus.touch-link, a:link.touch-link {
    padding: 6px 7px; 
}
a.touch-link .zmdi-edit .zmdi-triangle-down, a:active.touch-link .zmdi-edit .zmdi-triangle-down, a:focus.touch-link .zmdi-edit .zmdi-triangle-down, a:link.touch-link .zmdi-edit .zmdi-triangle-down{
    color: #5CAF00 !important;
}
a.touch-link .zmdi-delete, a:active.touch-link .zmdi-delete, a:focus.touch-link .zmdi-delete, a:link.touch-link .zmdi-delete {
    color: #D0021B !important; 
}

.navbar-full-width {
    width: 100%;
    position: fixed;
    z-index: 999;
}
.navbar-full-width .dropdown {
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 1500 !important; 
}

.navbar-full-width .dropdown .dropdown-toggle {
    padding-top: 15px;
    color: #fff;
    display: block;
}
.navbar-full-width .navbar-toggle {
    border: none !important;
    background-color: transparent !important;
    margin-top: 7px;
    color: white !important;
}

.schoolName {
    text-transform: uppercase;
}

.table-home .table-bordered>thead>tr>th, .table-home .table-bordered>tbody>tr>td{
    border: 0;
}
.table-home .table>thead>tr>th {
    border-bottom: 2px solid #ddd;
}

.action {
    width: 15rem;
    text-align: center;
}
.Stt {
    width: 40px;
    text-align: center;
}

.navbar-full-width .dropdownHome {
    position: relative;
    top: 0;
    z-index: 1500 !important; 
}
.ml10 {
    margin-left: 10px;
}
.modal .modal-content {
    border-radius: 4px;
}
.modal .modal-header, .modal .modal-footer {
    padding: 10px 30px 20px 30px;
}
.modal .modal-body {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
}
.modal .modal-header {
    font-size: 24px;
    font-weight: bold !important;
    text-transform: uppercase;
    border: none;
    line-height: 50px;
}
/*ADD BY LEMINHTHIEN*/
.message-flash {
    position: absolute;
    width: 30rem;
    top: 12rem;
    left: 50%;
    z-index: 9999999;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 1200px !important;
    }

    #changeAvatar > .modal-dialog, #addNewAccount > .modal-dialog {
        width: 600px !important;
    }
}
.logo_review img{
    max-width:300px;
}
/*END*/
label.title {
    font-size: 12px;
    font-weight: bold;
    color: #9B9B9B;
}
.modal label.title {
    font-size: 12px;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.modal input[type=text], .modal textarea {
    /*height: 38px;*/
    color: #4A4A4A;
    font-size: 14px;
    line-height: 31px;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid #DFDFDF;
    -webkit-appearance: none;
}
.modal .form-control {
    color: #4A4A4A;
    font-size: 14px;
    font-weight: 500;
    line-height: 31px;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.modal .customSelect {
    border-radius: 3px;
}
.modal .customSelect select.input-lg {
    padding: 0 16px;
    height: 38px;
    border-radius: 3px;
}
.createAccount-form {
    max-width: 360px;
    margin: 50px auto;
}
.createAccount-form img {
    height: 120px;
}
.password-area {
    background-color: #f8f8f8;
    color: black;
    border-radius: 3px;
    border: 2px solid #f8f8f8;
    -webkit-appearance: none;
}
#lb-upload-avatar {
    cursor: pointer;
   /* Style as you please, it will become the visible UI component. */
}
#upload-avatar {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.box-upload{
    font-size: 1.25rem;
    background-color: #c8dadf;
    position: relative;
    padding: 100px 20px;
    text-align: center;
    font-size: 20px;
    color: #0f3c4b;
}
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
    display: none;
}
.box-upload.has-advanced-upload {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.box-upload.has-advanced-upload .box__icon{
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 30px;
}
.box-upload.has-advanced-upload .box__dragndrop {
    font-weight: normal;
    display: inline;
}
.js .box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.js .box__file + label {
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}
.box__input label:hover strong{
    color: #39bfd3;
}
.box__button {
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: block;
    padding: 8px 16px;
    margin: 40px auto 0;
}
.box-upload.is-dragover {
    background-color: #fff;
    outline-offset: -20px;
    outline-color: #c8dadf;
}
.progress{
    background-color: #39bfd3;
    display: none;
}
.box-upload .form-control{
    background-color: #ecfcff;
}