
@media (max-width: 768px) {
    .navbar-full-width .dropdown {
        right: 60px;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 480px) {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    .banner-mobile img {
        display: block;
        margin-top: 5rem;
        max-width: 430px;
    }
    .myCarousel, .use-service {
        display: none;
    }
    .featured {
        width: 430px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .my-contacts {
        width: 430px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .about-info {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 2rem;
    }
    .page-name {
        margin-top: 0;
        height: 20px;
    }
    .contact-form {
        width: 430px;
        background: none;
        background-color: #3d3d3d;
        background-size: auto;
    }
}

@media (max-width: 768px) {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    .use-service {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .row {
        width: auto;
    }
    .my-contacts {
        padding-top: 0;
        padding-bottom: 0;
    }
    .page-name {
        margin-top: 4rem;
        padding-top: 0;
    }
    .about-poforlio {
        padding-top: 0;
    }
    .about-info-quote {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .contact-form {
        background-size: auto;
    }
    .about-info {
        padding-bottom: 2rem;
    }

    .about-featured {
        margin-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .about-featured-title {
        font-size: 26px;
    }
}
@media (max-width: 768px) and (max-width: 992px) {
    .use-service {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .use-service {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}